<?php
/**
 * Magento Enterprise Edition
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Magento Enterprise Edition License
 * that is bundled with this package in the file LICENSE_EE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magentocommerce.com/license/enterprise-edition
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    design
 * @package     enterprise_blank
 * @copyright   Copyright (c) 2009 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license     http://www.magentocommerce.com/license/enterprise-edition
 */
?>
<?php
/**
 * Shopping cart template
 *
 * @see Mage_Checkout_Block_Cart
 */
?>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <col />
    <col width="80" />
    <col width="80" />
    <col width="80" />
    <thead>
        <tr>
            <th bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-right:0; border-bottom:0; line-height:1em;"><?php echo $this->__('Items') ?></th>
            <th nowrap="nowrap" align="center" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-right:0; border-bottom:0; line-height:1em;"><?php echo $this->__('Price') ?></th>
            <th align="center" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:0; border-right:0; line-height:1em;"><?php echo $this->__('Qty') ?></th>
            <th align="center" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:0; line-height:1em;"><?php echo $this->__('Subtotal') ?></th>
        </tr>
    </thead>
    <tbody>
    <?php foreach($this->getItems() as $_item): ?>
        <tr>
            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; border-right:0; background:#f8f7f5;">
                <a href="<?php echo $this->getProductUrl($_item) ?>"><?php echo htmlspecialchars_decode(strip_tags($this->htmlEscape($this->getProductName($_item)))); ?></a>
                <?php if($_product_no=$_item->getProductNo()): ?>
                    <p style="margin:0; padding:0;"><?php echo Mage::helper('sphill_customization')->__('Item #'); ?><?php echo $_product_no; ?></p>
                <?php endif; ?>
            </td>
            <td align="center" valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; border-right:0; background:#f8f7f5;">
                <div class="cart-price">
                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                        <?php echo  Mage::helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
                    <?php else: ?>
                        <?php echo Mage::helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
                    <?php endif; ?>
                </div>&nbsp;
            </td>
            <td align="center" valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; border-right:0; background:#f8f7f5;"><?php echo ($_item->getQty()*1) ?></td>
            <td align="center" valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                <?php $_incl = Mage::helper('checkout')->getSubtotalInclTax($_item); ?>
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <div class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                <?php else: ?>
                    <div class="cart-price">
                <?php endif; ?>

                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                        <?php echo Mage::helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?>
                    <?php else: ?>
                        <?php echo Mage::helper('checkout')->formatPrice($_item->getRowTotal()); //$_incl-$_item->getWeeeTaxRowDisposition()) ?>
                    <?php endif; ?>
                </div>&nbsp;
            </td>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>
