<?php 
	$couponCode = $this->getCouponCode();
	$page = Mage::getModel('cms/page')->load('what-is-this','identifier'); 
	$theContent = $page->getContent(); 
?>

<div class="discount">
<form id="discount-coupon-form" action="<?php echo $this->getUrl('checkout/cart/couponPost') ?>" method="post">
        <fieldset>
            <label for="coupon_code"><b>Do you have a coupon code?</b></label>
            <input type="hidden" name="remove" id="remove-coupone" value="0" />
            <?php if(!strlen($this->getCouponCode())): ?>
            <div class="v-fix"><b>Enter code :</b><input class="input-text" id="coupon_code" name="coupon_code" value="<?php echo $this->htmlEscape($this->getCouponCode()) ?>" /></div><span class="uline">
				<a href="javascript:void(0)" class="WhatisThis" style="font-weight:bold;">What is this?</a></span>
				<div class="clear"></div>
			<div id="openinpopup" style="display:none;">
			&nbsp;<?php echo $theContent;?>
			<a class="close" href="javascript:void(0)"></a>
			<!-- <div class="popup"></div> -->
		    </div>

            <div style="margin-top:10px;"><button class="button" onclick="discountForm.submit(false)" type="button" value="<?php echo $this->__('Apply Coupon') ?>"><span><span><?php echo $this->__('Apply Coupon') ?></span></span></button></div>
            <?php else: ?>
            <div class="v-fix"><input class="input-text" id="coupon_code" name="coupon_code" value="<?php  if($couponCode!='12345') echo $this->htmlEscape($this->getCouponCode()) ?>" /></div>
            <button type="button" class="button" onclick="discountForm.submit(false)" value="<?php echo $this->__('Apply Coupon') ?>"><span><span><?php echo $this->__('Apply Coupon') ?></span></span></button>
            <button  type="button" class="button cancel-btn" onclick="discountForm.submit(true)" value="<?php echo $this->__('Cancel Coupon') ?>"><span><span><?php echo $this->__('Cancel Coupon') ?></span></span></button>
            <?php endif;?>
        </fieldset>
</form>
</div>

<script type="text/javascript">
//<![CDATA[
var discountForm = new VarienForm('discount-coupon-form');
discountForm.submit = function (isRemove) {
    if (isRemove) {
        $('coupon_code').removeClassName('required-entry');
        $('remove-coupone').value = "1";
    } else {
        $('coupon_code').addClassName('required-entry');
        $('remove-coupone').value = "0";
    }
    return VarienForm.prototype.submit.bind(discountForm)();
}
//]]>
</script>
<div class="clear"></div>

<form id="freegift-coupon-form" action="<?php echo $this->getUrl('freegift/checkout/couponPost') ?>" method="post">
    <div class="discount" style="margin:0px;">
        <h2><?php echo Mage::helper('freegift')->__('Free Gift Codes') ?></h2>
        <div class="discount-form">
            <label for="coupon_code"><?php echo Mage::helper('freegift')->__('Enter your free gift code if you have one.') ?></label>
            <input type="hidden" name="freegift_remove" id="remove-freegift-coupone" value="0" />
            <div class="input-box">
                <input class="input-text" id="freegift_coupon_code" name="freegift_coupon_code" value="" />
            </div>
            <div class="buttons-set">
                <button type="button" title="<?php echo $this->__('Apply Coupon') ?>" class="button" onclick="freegiftForm.submit(false)" value="<?php echo $this->__('Apply Coupon') ?>"><span><span><?php echo $this->__('Apply Coupon') ?></span></span></button>
				<?php if(strlen($this->getCouponCode())): ?>
                    &nbsp; <button type="button" title="<?php echo $this->__('Cancel Coupon') ?>" class="button" onclick="freegiftForm.submit(true)" value="<?php echo $this->__('Cancel Coupon') ?>"><span><span><?php echo $this->__('Cancel Coupon') ?></span></span></button>
                <?php endif;?>

            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
var freegiftForm = new VarienForm('freegift-coupon-form');
freegiftForm.submit = function (isRemove) {
    if (isRemove) {
        $('freegift_coupon_code').removeClassName('required-entry');
        $('remove-freegift-coupone').value = "1";
    } else {
        $('freegift_coupon_code').addClassName('required-entry');
        $('remove-freegift-coupone').value = "0";
    }
    return VarienForm.prototype.submit.bind(freegiftForm)();
}
//]]>
</script>

<script src="<?php echo $this->getSkinUrl('js/jquery-1.4.2.min.js');?>"  type="text/javascript"> </script>
   <script>       
	jQuery.noConflict();
        jQuery(document).ready(function($){
		$("a.WhatisThis").click(function(){
			$("#openinpopup").show();		
		});
		
		$("a.close").click(function(){
			$(this).parent().hide();		
		});
           
        });
    </script>
