<script src="<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>js/jquery/jquery-1.6.4.min.js"></script>
<script>
//Variable used tracking the change made in billing address fields
var boolbillSave = false;
//Variable used tracking the change made in shippling address fields
var boolshipSave = false;
jQuery.noConflict();
jQuery(document).ready(function($){
	$("#divToPrint .breadcrumbs").css("display", "none");
	//$("#divToPrint div:eq(1)").css("display", "none");
	//$("#divToPrint div:eq(2)").css("display", "none");
    //$("#divToPrint div:eq(2)").remove();
	//FOR CALCUALTE TAX
	get_save_billing_function('<?php echo $this->getUrl('onestepcheckout/ajax/save_billing', array('_secure'=>true)); ?>', '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>', <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>, true)();
});
</script>
<?php

$_quote_id = Mage::getSingleton('checkout/session')->getQuote()->getId();
$quoteId=$_quote_id;
$session = Mage::getSingleton("core/session");
$arrySession=$session->getData();
$step_counter = 1;
$helper = Mage::helper('onestepcheckout/checkout');
?>
<?php if(!$this->canCheckout() || !$this->validateMinimumAmount()): ?>
     <?php if($this->settings['checkout_title']): ?>
        <h1 class="onestepcheckout-title"><?php echo $this->settings['checkout_title']; ?></h1>
    <?php endif; ?>  
	


    <?php if($this->canCheckout() && !$this->validateMinimumAmount()): ?>
    <p><?php echo Mage::getStoreConfig('sales/minimum_order/description'); ?></p>
    <p><a href="<?php echo $this->getUrl(''); ?>"><?php echo $this->__('Back to homepage'); ?></a></p>
    <?php else: ?>
    <p><?php echo $this->__('You need to have products in your cart to checkout, and your cart is empty.'); ?></p>
    <p><a href="<?php echo $this->getUrl(''); ?>"><?php echo $this->__('Back to homepage'); ?></a></p>
    <?php endif; ?>
<?php else: ?>
<?php //action="<?php echo $this->getUrl('onestepcheckout', array('_secure'=>true)); ?>
<form id="onestepcheckout-form" method="post" action="<?php echo $this->getUrl('onestepcheckout', array('_secure'=>true)); ?>">
<fieldset class="group-select" style="margin: 0;">

<?php if($this->settings['checkout_title']): ?>
    <h1 class="onestepcheckout-title"><?php //echo $this->settings['checkout_title']; ?></h1>
<?php endif; ?>

<?php if($this->settings['checkout_description']): ?>
    <p class="onestepcheckout-description"><?php //echo $this->settings['checkout_description']; ?></p>
<?php endif; ?>

	<div>
		<div>
		<p class="ch-title">Express Checkout</p>		 
		</div>
		 
		 <div class="onestepcheckout-place-order-wrapper">
            <button type="button" title="<?php echo $this->__('Place order now'); ?>" id="onestepcheckout-place-order" class="large orange onestepcheckout-button onestepcheckout-place-order" ><span><span><?php echo $this->__(''); ?></span></span></button>
        </div>

	</div><br>
	<div style="border-bottom:1px solid #f8dc88;margin-top:10px;" class="clear"></div>


<!-- <?php if(!$this->isCustomerLoggedIn() && $helper->showLoginLink()): ?>
    <p class="onestepcheckout-login-link">
        <a id="onestepcheckout-login-link" href="javascript:void(0);"><?php echo $this->__('Already registered? Click here to login.'); ?></a>
    </p>
<?php endif; ?> -->

<!-- <?php if(isset($this->formErrors['unknown_source_error'])): ?>
<div class="onestepcheckout-error">
    <?php echo $this->formErrors['unknown_source_error']; ?>
</div> 
<?php endif; ?> -->

<div class="onestepcheckout-threecolumns checkoutcontainer onestepcheckout-skin-<?php echo $this->settings['skin']; ?> <?php if(Mage::helper('onestepcheckout')->isEnterprise()): ?>onestepcheckout-enterprise<?php endif; ?>">
    <div class="onestepcheckout-column-left">
		<?php if(Mage::getStoreConfig('onestepcheckout/general/hide_payment_method')):?>
            <?php if(!empty($this->formErrors['payment_method'])): ?>
            <div class="onestepcheckout-error onestepcheckout-payment-method-error">
                <?php echo $this->__('Please choose a payment method.'); ?>
            </div>
            <?php endif; ?>
            <?php if(!empty($this->formErrors['payment_method_error'])): ?>
                <div class="onestepcheckout-error onestepcheckout-payment-method-error">
                    <?php echo $this->__('Please enter valid details below.'); ?>
                </div>
            <?php endif; ?>
            <?php echo $this->getChildHtml('choose-payment-method'); ?>
        <?php else: ?>
            <p class="onestepcheckout-numbers onestepcheckout-numbers-<?php echo $step_counter++; ?>" style="float: left; margin-right: 40px;"><?php echo $this->__('Payment method'); ?></p>
            <?php if(isset($this->formErrors['payment_method']) && $this->formErrors['payment_method']): ?>
                <div class="onestepcheckout-error onestepcheckout-payment-method-error">
                    <?php echo $this->__('Please choose a payment method.'); ?>
                </div>
            <?php else: ?>
                <?php if(isset($this->formErrors['payment_method_error'])): ?>
                    <div class="onestepcheckout-error onestepcheckout-payment-method-error">
                        <?php echo $this->__('Please enter valid details below.'); ?>
                    </div>
                <?php endif; ?>
            <?php endif; ?>

            <?php echo $this->getChildHtml('choose-payment-method'); ?>

            <div class="tool-tip" id="payment-tool-tip" style="display:none;">
                <div class="btn-close">
                    <a href="javascript:void(0);" id="payment-tool-tip-close"><img src="<?php echo $this->getSkinUrl('images/btn_window_close.gif') ?>" alt="<?php echo $this->__('Close') ?>" /></a>
                </div>
                <div class="block-content">
                <img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>" alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>" />
                </div>
            </div>
        <?php endif; ?>


<div class="giftr-text">
	
	<input type="checkbox" name="fldcheckbox" id="fldcheckbox" onclick="fnchecked(this.checked);" style="float:left;
    margin:3px 7px 0px -20px"/>
	<p style="font-weight:bold;font-size:13px;color:#555;">Paying by Replacement or Gift Certificate ?</p>
	
	
	<div id="divcheck" style="display:none;">

	<p>Enter up to two certificate numbers (Case Sensitive)</p>
	<p style="font-style:italic;">Please be sure to click the Apply link</p>

	<dl id="checkout-payment-method-load" class="sp-methods">                         
 <dd>
 <ul class="form-list" id="payment_form_ccsave">
    <div class="PayWith">
        <li>
         
           <div style="width:390px;" class="input-box">
            <div class="v-fix">
                <input type="text" autocomplete="off" id="customer_giftreplacment" name="giftReplacement1" title="Certified number" class="input-text" value=" " style="width: 160px; margin-top:4px;">
            </div>
            <div class="v-fix">
                 <button type="button" class="button apply" id="btngiftreplacment" onclick="giftreplacement('customer_giftreplacment')"><span><span></span></span></button>
            </div>
            </div>
         </li>
         <li>
             
             <div style="width:390px;" class="input-box">
               <div class="v-fix">
		<input type="text" autocomplete="off" id="customer_giftreplacement2" name="giftReplacement2" title="Certified number" class="input-text" value=" " style="width: 160px; margin-top:4px;">
                 <!--<input type="text" autocomplete="off" id="customer_keycode" name="keycode" title="Keycode" class="input-text" value=" " style="width: 160px; margin-top:4px;">-->
               </div>
               <div class="v-fix">
                   <button type="button" class="button apply" id="btngiftreplacment" onclick="giftreplacement('customer_giftreplacement2')"><span><span></span></span></button>
               </div>
		<span id="payment-please-wait" class="please-wait" style="display:none">
        <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
    </span>
              </div>
          </li>
     </div>
	
	<input type="hidden" id="hdnGiftreplacment1" name="payment[hdnGiftreplacment1]"  />
	<input type="hidden" id="hdnGiftreplacment2" name="payment[hdnGiftreplacment2]"  />
 	<input type="hidden" id="hdnOfferCatalog" name="payment[hdnOfferCatalog]" />
  </ul>
 </dd>
</dl>
	</div>

</div>

 





	<div>

		<script>

		function fnchecked(blnchecked)
		{
		if(blnchecked)
		{
		document.getElementById("divcheck").style.display = "";
		}
		else
		{
		document.getElementById("divcheck").style.display = "none";
		}

		}
		</script>
 


	<div style="border-bottom:1px solid #f8dc88" class="clear"></div><br>

		<div class="addlabel">ADDRESS INFORMATION</div><br>

		<div id="billing_redback">
		<span><b>Billing Address</b></span> <a href="javascript:void(0);"  onclick="jQuery('#billing_address').show();jQuery('#billing_redback').hide();" > Edit >> </a>
 

			<?php 
				$billing_array = array(
                    "fname"     => $arrySession['cust_first_name'],
                    "lname"     => $arrySession['cust_last_name'],
                    "email"     => $arrySession['cust_email'],
                    "telephone" => $arrySession['cust_phone'],
                    "address1"  => $arrySession['cust_add1'],
                    "address2"  => $arrySession['cust_add2'],
                    "city"      => $arrySession['cust_city'],
                    "state"     => $arrySession['cust_state'],
                    "zipcode"   => $arrySession['cust_zip'],
                    "company"   => '',
                    "fax"       => $arrySession['cust_fax']
                );
//"country" => $arrySession['cust_country'],
			?>
		 
		<div class="addtext">
			<?php echo $arrySession['cust_first_name']." ".$arrySession['cust_last_name']; ?><br>
			<?php echo $arrySession['cust_add1'];?><br>

			<?php if(trim($arrySession['cust_add2']) != ''): ?><?php echo $arrySession['cust_add2'];?><br><?php endif; ?>

			<?php echo $arrySession['cust_city']." ".$arrySession['cust_state']." ".$arrySession['cust_zip'];?><br>
			<?php if(!empty($arrySession['cust_country'])) {?>
			<?php //echo $arrySession['cust_country'];?>
			<?php }?>
			<?php echo $arrySession['cust_phone'];?><br>
			 
			
		</div><br>


		</div>

       <div id="billing_address" style="display: none" >
            <script type="text/javascript">
			jQuery.noConflict();
            var billing = new Billing();

            </script>
            <ul>
                <li>
                    <p class="onestepcheckout-numbers onestepcheckout-numbers-<?php echo $step_counter++; ?>"><?php echo $this->__('Billing address'); ?></p>
                        <?php if(isset($this->formErrors['billing_error']) && count($this->formErrors['billing_errors']) > 0): ?>
                        <div class="onestepcheckout-error">
                            <?php echo $this->__('Please check red fields below and try again.'); ?>
                        </div>
                        <?php endif; ?>
                </li>
                <div id="billingAddress" style="display: none;color: #ff0000;">Your billing address information has been updated.</div>
                <?php if ($this->customerHasAddresses()): ?>
                <li>
                    <label for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
                    <div class="input-box">
                        <?php echo $this->getAddressesHtmlSelect('billing') ?>
                    </div>
                </li>
                <?php endif; ?>
                <li>
                    <div>
                        <ul id="billing_address_list" <?php echo (($this->customerHasAddresses() && !$this->getNewAddressSelectValueOnError('billing')) ? 'style = "display:none"' : false ); ?>>
                            <?php echo $this->getChildHtml('billing_address');?>
                            <?php $addressAttributes = $this->getChild('customer_form_billing_address_user_defined_attributes');?>
                            <?php if ($addressAttributes): ?>
                                <?php $addressAttributes->setEntity($this->getQuote()->getBillingAddress())->setEntityType('customer_address');?>
                                <?php $addressAttributes->setFieldIdFormat('billing:%1$s')->setFieldNameFormat('billing[%1$s]');?>
                                <?php echo $addressAttributes->setExcludeFileAttributes(true)->setShowContainer(false)->toHtml()?>
                            <?php endif;?>
                            <?php $customerAttributes = $this->getChild('customer_form_customer_user_defined_attributes');?>
                            <?php if ($customerAttributes): ?>
                                <?php $customerAttributes->setEntityModelClass('customer/customer')->setFieldIdFormat('billing:%1$s');?>
                                <?php $customerAttributes->setFieldNameFormat('billing[%1$s]')->setShowContainer(false);?>
                                <?php echo $customerAttributes->setExcludeFileAttributes(true)->toHtml()?>
                            <?php endif;?>
                        </ul>
                    </div>
                </li>
                <li>
                    <?php $uncheck = (!empty($_POST['billing']) && empty($_POST['billing']['use_for_shipping']));?>
                    <?php if($this->differentShippingAvailable()): ?>
                        <div class="input-box input-different-shipping">
                            <input type="checkbox" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1" <?php echo (($this->sameAsBilling() && !$uncheck) ? '':'')?>/>
                            <label for="billing:use_for_shipping_yes" style="float:none;"><?php echo $this->__('Ship to the same address')?></label>
                        </div>
                    <?php else: ?>
                        <input type="hidden" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1" />
                    <?php endif; ?>
                </li>
		<li>
                   <button onclick="validateups_billaddress()" class="address-ups-validate" type="button"><span><span>Save</span></span></button>
                </li>
            </ul>
        </div> 
		
		<?php if($this->differentShippingAvailable()): ?>
		<div id="shipping_redback">

			<?php 
                $shipping_array = array(
                    "fname"     => $arrySession['cust_first_name'],
                    "lname"     => $arrySession['cust_last_name'],
                    "email"     => $arrySession['cust_email'],
                    "telephone" => $arrySession['cust_phone'],
                    "address1"  => $arrySession['cust_add1'],
                    "address2"  => $arrySession['cust_add2'],
                    "city"      => $arrySession['cust_city'],
                    "state"     => $arrySession['cust_state'],
                    "zipcode"   => $arrySession['cust_zip'],
                    "company"   => '',
                    "fax"       => $arrySession['cust_fax']
                );
                //                    "country" => $arrySession['cust_country'],

            ?>



		<span><b>Shipping Address</b></span>&nbsp;&nbsp;<a href="javascript:void(0);"  onclick="jQuery('#shipping_address').show();jQuery('#shipping_redback').hide();" >Edit >> </a>

		<div class="addtext">
			<?php echo $arrySession['cust_first_name']." ".$arrySession['cust_last_name']; ?><br>
			<?php echo $arrySession['cust_add1'];?><br>

			<?php if(trim($arrySession['cust_add2']) != ''): ?><?php echo $arrySession['cust_add2'];?><br><?php endif; ?>

			<?php echo $arrySession['cust_city']." ".$arrySession['cust_state']." ".$arrySession['cust_zip'];?><br>
			<?php if(!empty( $arrySession['cust_country'])) {?>
				<?php //echo $arrySession['cust_country'];?>
			<?php } ?>
			<?php echo $arrySession['cust_phone'];?><br>
		 
			
		</div><br>

	 
		</div>

		 

        <div id="shipping_address" <?php  echo (($this->sameAsBilling() && !$uncheck) ? 'style="display: none"': false);?> style="display: none">
            <script type="text/javascript">
				jQuery.noConflict();
                var shipping = new Shipping();
            </script>
            <ul>
                <li class="shipping-address-title">
                    <?php echo $this->__('Shipping address'); ?>
                </li>
                <div id="shippingAddress" style="display: none;color: #ff0000;">Your shipping address information has been updated.</div>
                <?php if ($this->customerHasAddresses()): ?>
                   <li class="form-alt">
                       <label for="shipping-address-select"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></label>
                       <div class="input-box"><?php echo $this->getAddressesHtmlSelect('shipping') ?></div>
                   </li>
                <?php endif ?>
                <li id="shipping_address_list" <?php if($this->customerHasAddresses() && !$this->getNewAddressSelectValueOnError('shipping')) { echo '  style="display: none;" '; } ?>>
                    <div id="">
                        <ul>
                            <?php echo $this->getChildHtml('shipping_address');?>
                            <?php $addressAttributes = $this->getChild('customer_form_shipping_address_user_defined_attributes');?>
                            <?php if ($addressAttributes): ?>
                                <?php $addressAttributes->setEntity($this->getQuote()->getShippingAddress())->setEntityType('customer_address');?>
                                <?php $addressAttributes->setFieldIdFormat('shipping:%1$s')->setFieldNameFormat('shipping[%1$s]');?>
                                <?php echo $addressAttributes->setExcludeFileAttributes(true)->setShowContainer(false)->toHtml()?>
                            <?php endif;?>
				<li>
                  		 <button onclick="validateups_shipaddress()" class="address-ups-validate" type="button"><span><span>Save</span></span></button>
               			</li>
                        </ul>
                        <input type="hidden" name="shipping[address_id]" value="<?php echo $this->getQuote()->getShippingAddress()->getId() ?>" id="shipping:address_id" />
                         <!-- END LIST OF SHIPPIING FIELDS -->
                    </div>
                </li>
            </ul>
        </div>
    <?php endif; ?> 
</div>

    <div class="onestepcheckout-column-middle" style="display:none;">


        <?php if(!$this->isVirtual()): ?>
            <?php if(Mage::getStoreConfig('onestepcheckout/general/hide_shipping_method')):?>
                <?php if(isset($this->formErrors['shipping_method']) && $this->formErrors['shipping_method']): ?>
                    <div class="onestepcheckout-error onestepcheckout-shipment-method-error">
                        <?php echo $this->__('Please choose a shipping method.'); ?>
                    </div>
                <?php endif; ?>
                <?php echo $this->getChildHtml('choose-shipping-method'); ?>
            <?php else:?>
                <div class="onestepcheckout-shipping-method">
                    <p class="onestepcheckout-numbers onestepcheckout-numbers-<?php echo $step_counter++; ?>"><?php echo $this->__('Shipping method'); ?></p>

                    <?php if(isset($this->formErrors['shipping_method']) && $this->formErrors['shipping_method']): ?>
                    <div class="onestepcheckout-error onestepcheckout-shipment-method-error">
                        <?php echo $this->__('Please choose a shipping method.'); ?>
                    </div>
                    <?php endif; ?>

                    <div class="onestepcheckout-shipping-method-block">
                        <?php echo $this->getChildHtml('choose-shipping-method'); ?>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>

        
    </div>

	<div style="border-bottom:1px solid #f8dc88" class="clear"></div>
    <div class="onestepcheckout-column-right">

        <p class="onestepcheckout-numbers onestepcheckout-numbers-4"><?php echo $this->__('Order Summary'); ?></p>
			<div style="margin:0 0 10px 10px;font-size: 12px;">Please review your order below <a href="<?php echo Mage::getBaseUrl();?>checkout/cart">Edit your item &gt;&gt;</a></div>

        <div class="onestepcheckout-summary">
            <?php echo $this->getChildHtml('summary'); ?>
        </div>

        <?php if($this->settings['enable_discount']): ?>
        <div class="onestepcheckout-coupons">
            <div id="coupon-notice" style="display: none;"></div>
            <?php $_couponcode = $this->getQuote()->getCouponCode(); ?>
            <label for="id_couponcode"><?php echo $this->__('Coupon code:'); ?></label><br/>
            <input class="input-text" type="text" name="onestepcheckout-couponcode" id="id_couponcode" value="<?php echo Mage::helper('core')->escapeHtml($_couponcode); ?>" />
            <br/>
            <button id="onestepcheckout-coupon-add" class="form-button-alt" type="button"><span><?php echo $this->__('Apply Coupon'); ?></span></button>
            <button id="onestepcheckout-coupon-remove" class="form-button-alt" type="button" style="<?php if($_couponcode == '') { echo 'display: none;'; } ?>"><span><?php echo $this->__('Cancel Coupon'); ?></span></button>
            <script>
            Event.observe(window, 'load', function() {
                $('onestepcheckout-coupon-add').observe('click', function(e)    {

                    var coupon = $('id_couponcode').getValue();
                    var couponNotice = $('coupon-notice');

                    couponNotice.hide();

                    if(coupon == '')  {
                        alert('<?php echo $this->__('Please enter a valid coupon code.'); ?>');
                        return;
                    }

                    var url = '<?php echo $this->getUrl('onestepcheckout/ajax/add_coupon', array('_secure'=>true)); ?>';
                    var parameters = {code: coupon};
                    var shipping_methods = $$('dl.shipment-methods').first();
                    var payment_methods = $$('div.payment-methods').first();
                    var summary = $$('div.onestepcheckout-summary').first();

                    if(shipping_methods){
                        shipping_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }

                    if(payment_methods){
                        payment_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }

                    summary.update('<div class="loading-ajax">&nbsp;</div>');

                    new Ajax.Request(url, {
                        method: 'post',
                        parameters: parameters,
                        onSuccess: function(transport) {
                            if(transport.status == 200) {

                                var response = transport.responseText.evalJSON();

                                var url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>';
                                var update_payments = <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>;

                                if(shipping_methods){
                                    shipping_methods.hide();
                                    shipping_methods.update(response.shipping_method);
                                    shipping_methods.show();
                                    $$('dl.shipment-methods input').invoke('observe', 'click', get_separate_save_methods_function(url, update_payments));
                                    $$('dl.shipment-methods input').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-shipment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                if(payment_methods){
                                    payment_methods.hide();
                                    payment_methods.replace(response.payment_method);
                                    payment_methods.show();

                                    paymentContainer = $('container_payment_method_' + payment.currentMethod)
                                    paymentForm = $('payment_form_' + payment.currentMethod)

                                    if(paymentContainer != null){
                                        paymentContainer.show();
                                    }
                                    if(paymentForm != null){
                                        paymentForm.show();
                                    }
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', get_separate_save_methods_function(url));
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-payment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                summary.hide();
                                summary.update(response.summary);
                                summary.show();

                                if(response.success) {

                                    couponNotice.update(response.message);
                                    couponNotice.removeClassName('error-msg');
                                    couponNotice.addClassName('success-msg');
                                    couponNotice.show();
                                    /* Show remove button */
                                    $('onestepcheckout-coupon-remove').show();
                                }
                                else    {

                                    couponNotice.update(response.message);
                                    couponNotice.removeClassName('success-msg');
                                    couponNotice.addClassName('error-msg');
                                    couponNotice.show();
                                    /* Hide remove button */
                                    $('onestepcheckout-coupon-remove').hide();
                                }
                            }
                        }
                    });
                });

                $('onestepcheckout-coupon-remove').observe('click', function(e) {

                    var coupon = $('id_couponcode').getValue();
                    var couponNotice = $('coupon-notice');

                    couponNotice.hide();

                    var url = '<?php echo $this->getUrl('onestepcheckout/ajax/add_coupon', array('_secure'=>true)); ?>';
                    var parameters = {code: coupon, remove: '1'};
                    var shipping_methods = $$('dl.shipment-methods').first();
                    var payment_methods = $$('div.payment-methods').first();
                    var summary = $$('div.onestepcheckout-summary').first();

                    if(shipping_methods){
                        shipping_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }

                    if(payment_methods){
                        payment_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }
                    summary.update('<div class="loading-ajax">&nbsp;</div>');

                    new Ajax.Request(url, {
                        method: 'post',
                        parameters: parameters,
                        onSuccess: function(transport)  {
                            if(transport.status == 200) {
                                var response = transport.responseText.evalJSON();

                                if(response.success){
                                    $('id_couponcode').setValue('')
                                    $('onestepcheckout-coupon-remove').hide();
                                }

                                var url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>';
                                var update_payments = <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>;

                                if(shipping_methods){
                                    shipping_methods.hide();
                                    shipping_methods.update(response.shipping_method);
                                    shipping_methods.show();
                                    $$('dl.shipment-methods input').invoke('observe', 'click', get_separate_save_methods_function(url, update_payments));
                                    $$('dl.shipment-methods input').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-shipment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                if(payment_methods){
                                    payment_methods.hide();
                                    payment_methods.replace(response.payment_method);
                                    payment_methods.show();

                                    paymentContainer = $('container_payment_method_' + payment.currentMethod)
                                    paymentForm = $('payment_form_' + payment.currentMethod)

                                    if(paymentContainer != null){
                                        paymentContainer.show();
                                    }

                                    if(paymentForm != null){
                                        paymentForm.show();
                                    }
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', get_separate_save_methods_function(url));
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-payment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                summary.hide();
                                summary.update(response.summary);
                                summary.show();

                                couponNotice.hide();
                                couponNotice.update(response.message);
                                couponNotice.removeClassName('error-msg');
                                couponNotice.addClassName('success-msg');
                                couponNotice.show();
                            }
                        }
                    });
                });
            });
            </script>
        </div>
        <?php endif; ?>

        <?php if($this->settings['enable_giftcard']): ?>
        <div class="onestepcheckout-giftcards">
            <div id="giftcard-notice" style="display: none;"></div>
            <?php
            $_hasGiftCards = unserialize($this->getQuote()->getGiftCards());
            $_giftcardcode = $this->getQuote()->getgiftcardCode(); ?>
            <label for="id_giftcardcode"><?php echo $this->__('giftcard code:'); ?></label><br/>
            <input class="input-text" type="text" name="onestepcheckout-giftcardcode" id="id_giftcardcode" value="<?php echo Mage::helper('core')->escapeHtml($_giftcardcode); ?>" />
            <br/>
            <button id="onestepcheckout-giftcard-add" class="form-button-alt" type="button"><span><?php echo $this->__('Apply giftcard'); ?></span></button>
            <button id="onestepcheckout-giftcard-remove" class="form-button-alt" type="button" style="<?php if(empty($_hasGiftCards)) { echo 'display: none;'; } ?>"><span><?php echo $this->__('Cancel giftcard'); ?></span></button>
            <script>
            document.observe('dom:loaded', function() {
                $('onestepcheckout-giftcard-add').observe('click', function(e)    {
                    var giftcard = $('id_giftcardcode').getValue();
                    var giftcardNotice = $('giftcard-notice');
                    giftcardNotice.hide();
                    if(giftcard == '')    {
                        alert('<?php echo $this->__('Please enter a valid giftcard code.'); ?>');
                        return;
                    }

                    var url = '<?php echo $this->getUrl('onestepcheckout/ajax/add_giftcard', array('_secure'=>true)); ?>';
                    var parameters = {code: giftcard};
                    var shipping_methods = $$('dl.shipment-methods').first();
                    var payment_methods = $$('div.payment-methods').first();
                    var summary = $$('div.onestepcheckout-summary').first();

                    if(shipping_methods){
                        shipping_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }

                    if(payment_methods){
                        payment_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }
                    summary.update('<div class="loading-ajax">&nbsp;</div>');

                    new Ajax.Request(url+Math.random(1000), {
                        method: 'post',
                        parameters: parameters,
                        onSuccess: function(transport) {
                            if(transport.status == 200) {

                                var response = transport.responseText.evalJSON();

                                var url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>';
                                var update_payments = <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>;

                                if(shipping_methods){
                                    shipping_methods.hide();
                                    shipping_methods.update(response.shipping_method);
                                    shipping_methods.show();
                                    $$('dl.shipment-methods input').invoke('observe', 'click', get_separate_save_methods_function(url, update_payments));
                                    $$('dl.shipment-methods input').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-shipment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                if(payment_methods){
                                    //payment_methods.hide();
                                    payment_methods.replace(response.payment_method);
                                    //payment_methods.show();

                                    paymentContainer = $('container_payment_method_' + payment.currentMethod)
                                    paymentForm = $('payment_form_' + payment.currentMethod)

                                    if(paymentContainer != null){
                                        paymentContainer.show();
                                    }
                                    if(paymentForm != null){
                                        paymentForm.show();
                                    }
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', get_separate_save_methods_function(url));
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-payment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                if(response.success) {
                                    summary.update(response.summary);
                                    giftcardNotice.update(response.message);
                                    giftcardNotice.removeClassName('error-msg');
                                    giftcardNotice.addClassName('success-msg');
                                    giftcardNotice.show();
                                    /* Show remove button */
                                    $('onestepcheckout-giftcard-remove').show();
                                }
                                else    {
                                    summary.update(response.summary);
                                    giftcardNotice.update(response.message);
                                    giftcardNotice.removeClassName('success-msg');
                                    giftcardNotice.addClassName('error-msg');
                                    giftcardNotice.show();
                                    /* Hide remove button */
                                    //$('onestepcheckout-giftcard-remove').hide();
                                }
                            }
                        }
                    });
                });

                $('onestepcheckout-giftcard-remove').observe('click', function(e) {
                    var giftcard = $('id_giftcardcode').getValue();
                    var giftcardNotice = $('giftcard-notice');
                    giftcardNotice.hide();
                    var url = '<?php echo $this->getUrl('onestepcheckout/ajax/add_giftcard', array('_secure'=>true)); ?>';
                    var parameters = {code: giftcard, remove: '1'};
                    var shipping_methods = $$('dl.shipment-methods').first();
                    var payment_methods = $$('div.payment-methods').first();
                    var summary = $$('div.onestepcheckout-summary').first();

                    if(shipping_methods){
                        shipping_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }

                    if(payment_methods){
                        payment_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }
                    summary.update('<div class="loading-ajax">&nbsp;</div>');

                    new Ajax.Request(url, {
                        method: 'post',
                        parameters: parameters,
                        onSuccess: function(transport)  {
                            if(transport.status == 200) {
                                var response = transport.responseText.evalJSON();

                                var url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>';
                                var update_payments = <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>;

                                if(shipping_methods){
                                    shipping_methods.hide();
                                    shipping_methods.update(response.shipping_method);
                                    shipping_methods.show();
                                    $$('dl.shipment-methods input').invoke('observe', 'click', get_separate_save_methods_function(url, update_payments));
                                    $$('dl.shipment-methods input').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-shipment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                if(payment_methods){
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', get_separate_save_methods_function(url));
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-payment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                    payment_methods.hide();
                                    payment_methods.replace(response.payment_method);
                                    payment_methods.show();

                                    paymentContainer = $('container_payment_method_' + payment.currentMethod)
                                    paymentForm = $('payment_form_' + payment.currentMethod)

                                    if(paymentContainer != null){
                                        paymentContainer.show();
                                    }
                                    if(paymentForm != null){
                                        paymentForm.show();
                                    }
                                }

                                if(response.success){
                                    $('id_giftcardcode').setValue('')
                                    $('onestepcheckout-giftcard-remove').hide();
                                }
                                var summary = $$('div.onestepcheckout-summary').first();

                                summary.hide();
                                summary.update(response.summary);
                                summary.show();

                                giftcardNotice.hide();
                                giftcardNotice.update(response.message);
                                giftcardNotice.removeClassName('error-msg');
                                giftcardNotice.addClassName('success-msg');
                                giftcardNotice.show();
                            }
                        }
                    });
                });
            });
            </script>
        </div>
        <?php endif; ?>
	<br>

       <!-- <?php if($this->settings['enable_comments']): ?>
            <div class="onestepcheckout-comments">
                <label for="id_comments" style="float:none;font-weight:bold !important;color:#336633;"><?php echo $this->__('Special Instructions:'); ?></label><br/>
                <textarea id="id_comments" name="onestepcheckout_comments"><?php if(isset($_POST['onestepcheckout_comments'])) { echo Mage::helper('core')->escapeHtml($_POST['onestepcheckout_comments']); } ?></textarea>
            </div>
        <?php endif; ?> -->

        <?php if($this->settings['enable_gift_messages']): ?>
            <div id="onestepcheckout-giftmessages">
            <div class="onestepcheckout-giftmessagecontainer">
            <?php echo $this->helper('onestepcheckout/message')->getInline('onepage_checkout', $this->getQuote(), $this->getDontDisplayContainer()) ?>
            </div>
            </div>
        <?php endif; ?>

        <?php $customerEmail = (($this->isCustomerLoggedIn())) ? $this->getQuote()->getCustomer()->getEmail() : false ;?>
        <?php if($this->settings['enable_newsletter'] && !$this->isSubScribed($customerEmail)): ?>
            <div class="onestepcheckout-enable-newsletter">
                <input type="checkbox" id="id_subscribe_newsletter" name="subscribe_newsletter" value="1" <?php if($this->settings['newsletter_default_checked']): ?>checked="checked"<?php endif; ?> />
                <label for="id_subscribe_newsletter"><?php echo $this->__('Subscribe to our newsletter'); ?></label>
            </div>
        <?php endif; ?>

        <?php $_extraProductsHelper = Mage::helper('onestepcheckout/extraproducts'); ?>
            <?php if($_extraProductsHelper->hasExtraProducts()): ?>
            <div class="onestepcheckout-extraproducts">
                <ul>
                <?php foreach($_extraProductsHelper->getExtraProducts() as $product): ?>
                    <li><input type="checkbox" class="onestepcheckout-extra-product"
                    <?php if($_extraProductsHelper->productInCart($product->getId())): ?>
                        checked="checked" <?php endif; ?>
                        name="extra_products_<?php echo $product->getId(); ?>"
                        id="id_extra_product_<?php echo $product->getId(); ?>" /> &nbsp;
                    <label for="id_extra_product_<?php echo $product->getId(); ?>"> <?php echo $product->getName(); ?>
                    <span><?php echo Mage::helper('checkout')->formatPrice($product->getPrice()); ?></span>
                    </label></li>
                    <?php endforeach; ?>
                </ul>
            </div>

            <script>
            Event.observe(window, 'load', function() {
                $$('input.onestepcheckout-extra-product').invoke('observe', 'click', function(e) {
                    var id_temp = e.element().id.split('id_extra_product_');
                    if(id_temp.length == 2) {
                        var product_id = id_temp[1];
                        var url = '<?php echo $this->getUrl('onestepcheckout/ajax/add_extra_product'); ?>';
                        var parameters = {
                            product_id: product_id
                        }

                        if(!e.element().checked) {
                            parameters['remove'] = 1;
                        }

                        var summary = $$('div.onestepcheckout-summary').first();
                        summary.update('<div class="loading-ajax">&nbsp;</div>');

                        new Ajax.Request(url, {
                            method: 'post',
                            parameters: parameters,
                            onSuccess: function(transport)  {
                                summary.update(transport.responseText);
                            }
                        });
                   };
                });
            });
        </script>
        <?php endif; ?>

        <?php
        /**
         * Feedbackdropdown start
         */
        ?>
        <?php if(!empty($this->settings['feedback']['enable_feedback']) && !empty($this->settings['feedback']['feedback_values'])):?>
            <?php
                $selectedFeedBackFields = $this->getRequest()->getPost('onestepcheckout-feedback', false);
                $feedbackValues = unserialize($this->settings['feedback']['feedback_values']);
            ?>
            <div class="onestepcheckout-feedback" id="">
                <label for="id_feedback"><?php echo $this->__('How did you hear about us?'); ?></label><br>
                <select style="" name="onestepcheckout-feedback" id="id_feedback" defaultvalue="">
                    <option value=""><?php echo $this->__('Please choose'); ?></option>
                    <?php foreach($feedbackValues as $value => $label):
                        $selected= (!empty($selectedFeedBackFields) && $selectedFeedBackFields == $value) ? ' selected' : '';
                    ?>
                    <option value="<?php echo $value?>" <?php echo $selected;?>><?php echo $label['value']?></option>
                    <?php endforeach;?>
                    <?php if(!empty($this->settings['feedback']['enable_feedback_freetext'])):
                        $selected= (empty($feedbackValues[$selectedFeedBackFields]) && $selectedFeedBackFields != '') ? ' selected' : '';
                    ?>
                    <option value="freetext" <?php echo $selected;?>><?php echo $this->__('Other'); ?></option>
                    <?php endif;?>
                </select>
            </div>
            <?php if(!empty($this->settings['feedback']['enable_feedback_freetext'])):?>
                <script type="text/javascript">
                    $('id_feedback').observe('change', function (event){
                        if(this.getValue() == 'freetext'){
                            $('id_feedback_freetext_div').show();
                        } else {
                            $('id_feedback_freetext_div').hide();
                        }
                    });
                </script>
                <div id='id_feedback_freetext_div' class="onestepcheckout-feedback-freetext"<?php echo ((!empty($selectedFeedBackFields) && $selectedFeedBackFields == 'freetext') ? '' : ' style="display: none;"'); ?>>
                    <label for="id_feedback_freetext"><?php echo $this->__('Please specify:'); ?></label><br/>
                    <textarea id="id_feedback_freetext" name="onestepcheckout-feedback-freetext"><?php echo Mage::helper('core')->escapeHtml($this->getRequest()->getPost('onestepcheckout-feedback-freetext', false));?></textarea>
                </div>
            <?php endif; ?>
        <?php endif; ?>
        <?php
        /**
         * Feedbackdropdown end
         */
        ?>

        <?php if($this->settings['enable_terms']): //deprecated?>
            <div class="onestepcheckout-enable-terms">
                <?php

                if(isset($this->formErrors['terms_error']) && $this->formErrors['terms_error']) {
                    $terms_error = true;
                }
                else    {
                    if($_SERVER['REQUEST_METHOD'] == 'POST')    {
                        $terms_error = false;
                    }
                    else    {
                        $terms_error = true;
                    }
                }
                ?>

                <input class="required-entry" type="checkbox" id="id_accept_terms" name="accept_terms" value="1" <?php if(!$terms_error) echo "checked=\"checked\""; ?> />
                <label for="id_accept_terms"><?php echo $this->__('I accept the <a id="onestepcheckout-toc-link" target="_blank" href="javascript:void(0);">Terms and Conditions</a>'); ?></label>

                <?php if(isset($this->formErrors['terms_error']) && $this->formErrors['terms_error']): ?>
                <div class="onestepcheckout-error onestepcheckout-terms-error">
                    <?php echo $this->__('You must accept our terms to continue.'); ?>
                </div>
                <?php endif; ?>

            </div>
        <?php endif; ?>

        <?php
        /**
         * Default magento agreements
         */
        ?>
        <?php if($this->settings['enable_default_terms']): ?>
            <?php if(!empty($this->formErrors['agreements_error'])):?>
            <div class="onestepcheckout-error onestepcheckout-terms-error">
                <?php echo $this->__('Please agree to all the terms and conditions before placing the order.'); ?>
            </div>
            <?php endif;?>
            <?php echo $this->getChildHtml('agreements') ?>
            <script type="text/javascript">

                    var termsmodals = new Object;

                    document.observe('dom:loaded', function() {
                        $$('.checkout-agreements li p input').each(
                            function(elem){
                                elem.addClassName('required-entry');
                            }
                        );
                    });

                    <?php if($this->settings['enable_textarea']):?>
                    document.observe('dom:loaded', function() {
                        $$('.checkout-agreements li p label').each(
                            function(elem){
                                elem.up().insert('<a href="javascript:void(0);" onclick="termsmodals[\'' + elem.htmlFor + '\'].open();">' + elem.innerHTML + '</a>');
                                elem.hide();
                            }
                        );
                        $$('div.agreement-content').each(
                            function(element){
                                element.id = 'agreement-div-' + element.up('li').down('input').id;
                                $$('body')[0].insert(element);
                            }
                        );
                        $$('.checkout-agreements li p input').each(
                            function(elem){
                                window.termsmodals[elem.id] = new Control.Modal($('agreement-div-' + elem.id),{
                                    overlayOpacity: 0.75,
                                    className: 'modal',
                                    fade: true,
                                    closeOnClick: true,
                                    height: 400,
                                    width: 700
                                });
                            }
                        );
                    });
                    <?php endif;?>

            </script>
        <?php endif;?>
        <?php
        /**
         * Default magento agreements end
         */
        ?>


		


        <div class="onestepcheckout-place-order-wrapper">
            <button type="button" title="<?php echo $this->__('Place order now'); ?>" id="onestepcheckout-place-order" class="large orange onestepcheckout-button onestepcheckout-place-order"><span><span><?php echo $this->__(''); ?></span></span></button>
        </div>
    </div>
    <div style="clear: both;">&nbsp;</div>
</div>
</fieldset>
</form>

<?php if(!$this->isCustomerLoggedIn() && $helper->showLoginLink()): ?>
    <?php echo $this->getChildHtml('login-popup'); ?>
<?php endif; ?>

<?php if($helper->isValidateEmail()): ?>
<script>
$('billing:email').observe('blur', function(e)    {
    var url = '<?php echo $this->getUrl('onestepcheckout/ajax/check_email', array('_secure'=>true)); ?>';
    var email = e.element().getValue();
    var parameters = { email: email };

    new Ajax.Request(url, {
        parameters: parameters,
        onComplete: function(response)  {
            if(response.status == 200)  {
                var result = response.responseText.evalJSON().result;
                if(result == 'invalid') {
                    $('onestepcheckout-email-error-message').update('<?php echo $this->__('Invalid email address.'); ?>');
                    $('onestepcheckout-email-error').show();
                }
                else if(result == 'exists') {
                    <?php if($this->settings['registration_order_without_password']): ?>
                    // Remove the password fields if the email exists in database
                    $('onestepcheckout-li-password').hide();
                    <?php else: ?>

                    $('onestepcheckout-email-error-message').update('<?php echo $this->__('Email address already registered. Please <a href="javascript:void(0);" onclick="login_popup.show(); return false;">login now</a> or use a different email address.'); ?>');
                    $('onestepcheckout-email-error').show();
                    // Ask the user to login or change email address
                    //login_popup.show();
                    $('id_onestepcheckout_username').value = email;
                    <?php endif; ?>
                }
                else    {
                    $('onestepcheckout-email-error').hide();
                    $('onestepcheckout-li-password').show();
                }
            }
        }
    })

});
Validation.add('validate-email', '<?php echo $this->__('This is a required field.') ?>', function(v) {
    var url = '<?php echo $this->getUrl('onestepcheckout/ajax/check_email', array('_secure'=>true)); ?>';
    var email = v;
    var parameters = { email: email };
    var value = Validation.get('IsEmpty').test(v) || /^([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*@([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*\.(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]){2,})$/i.test(v)

    new Ajax.Request(url, {
        parameters: parameters,
        asynchronous: false,
        onComplete: function(response)  {
            if(response.status == 200)  {
                var result = response.responseText.evalJSON().result;
                if(result == 'invalid') {
                    value =  false;
                } else if(result == 'exists') {
                    <?php if($this->settings['registration_order_without_password']): ?>
                    $('onestepcheckout-li-password').hide();
                    <?php else: ?>
                    $('onestepcheckout-email-error-message').update('<?php echo $this->__('Email address already registered. Please <a href="javascript:void(0);" onclick="login_popup.show(); return false;">login now</a> or use a different email address.'); ?>');
                    $('onestepcheckout-email-error').show();
                    $('id_onestepcheckout_username').value = email;
                    value =  false;
                    <?php endif; ?>
                }
            }
        }
    })
    return value;
});
</script>
<?php endif; ?>





<?php if($this->settings['enable_terms']): ?>
<div id="onestepcheckout-toc-popup" style="display: none;">

    <div class="onestepcheckout-popup-wrapper">
        <div class="onestepcheckout-popup-wrapper-inner">
            <h1><?php echo $this->settings['terms_title']; ?></h1>

            <div class="onestepcheckout-toc-terms">
                <?php echo $this->settings['terms_contents']; ?>
            </div>

            <p class="close"><a href="javascript:void(0);"><?php echo $this->__('Close'); ?></a></p>
        </div>
    </div>
    <div class="onestepcheckout-popup-footer">&nbsp;</div>
</div>
<script>
Event.observe(window, 'load', function() {

    var termsPopup = new Control.Modal($('onestepcheckout-toc-popup'), {
        overlayOpacity: 0.65,
        fade: true,
        fadeDuration: 0.3
    });

    $('onestepcheckout-toc-link').observe('click', function(e) {
        e.preventDefault();
        termsPopup.open();
    });

    $$('div#onestepcheckout-toc-popup p.close a').invoke('observe', 'click', function(e) {
        e.preventDefault();
        termsPopup.close();
    });

});

/*
var popup;
Event.observe(window, 'load', function() {
    popup = new OneStepCheckout_Popup('onestepcheckout-toc-popup','onestepcheckout-toc-link', 'div#onestepcheckout-toc-popup p.close a');
});
*/
</script>
<?php endif; ?>





<script>
<?php if($this->hasFormErrors()): ?>
if($$('div.input-error').length > 0) {
    var input = $$('div.input-error')[0].select('input');
    if(input.length == 1)   {
        input[0].focus();
    }
}
<?php endif; ?>
</script>

<?php if(!$this->settings['exclude_region']): ?>
<script type="text/javascript"> countryRegions =<?php echo $this->helper('directory')->getRegionJson() ?></script>
<script type="text/javascript">
//<![CDATA[
    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions, undefined, 'billing:postcode');

    <?php if($this->settings['enable_different_shipping'] && !$this->isVirtual()): ?>
    var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', countryRegions, undefined, 'shipping:postcode');
    <?php endif; ?>
//]]>
</script>
<?php endif; ?>


<script type="text/javascript">

Event.observe(window, 'load', function() {
    if ($$('div.shopping-cart-totals').length == 1) {
    }
    else    {

        already_placing_order = false;
        review = false;
        reviewmodal = false;

        /* Handle place order click event */
        $$('.onestepcheckout-place-order').each(function(elem){

            elem.observe('click', function(e)   {

		var restrictedState = document.getElementById('restrictedState').value;
		var shippinState = document.getElementById('shipping:region_id').value;
		var strshiipingregioncode='';
		var opts = document.getElementById('onestep_region_code').options;
			for(var i = 0, j = opts.length; i < j; i++){
				if(shippinState==opts[i].text){
					strshiipingregioncode = opts[i].value;
					break;
				}
			}
		var restState='';
		var chkRestState= '-1';
  if(restrictedState!=''){
	restState=restrictedState.split(',');
	chkRestState = jQuery.inArray(strshiipingregioncode, restState);
}
		if(chkRestState!='-1'){
			alert('Please remove the shipping restricted state from cart.');
		}else{
			
		
        Event.stop(e);
		// If the address fields are modified and not validated then alert
		addressvalidation = false;
		strAddressPopUp= '';
		if(boolbillSave==true){
			strAddressPopUp= 'Billing Address ';	
		}
		if(boolshipSave==true){
			if(strAddressPopUp=="")
				strAddressPopUp += 'Shipping Address';	
			else
				strAddressPopUp += 'and Shipping Address';	
		}
		if(strAddressPopUp!= ''){
			alert("Please save "+strAddressPopUp);
			return false;
		}else{

						 var form = new VarienForm('onestepcheckout-form');

						if(!form.validator.validate())  {
						    Event.stop(e);
						} else {

						    if(!already_placing_order && $$('.loading-ajax').length <= 0 ) {
						    <?php if(!empty($helper->settings['addressreview']['enable_addressreview'])):?>
							var addressTemplates = {
							    shipping: '<?php echo str_replace("\r", '', str_replace("\n", '', $helper->settings['addressreview']['shipping_template']));?>',
							    billing: '<?php echo str_replace("\r", '', str_replace("\n", '', $helper->settings['addressreview']['billing_template']));?>'
							};
							addressPreview(addressTemplates, 'addressreview');
							if(!review){
							    review = true;
							    if(!reviewmodal){
								reviewmodal = new Control.Modal($('addressreview'),{
								    overlayOpacity: 0.75,
								    className: 'modal',
								    fade: true,
								    closeOnClick: false
								});
							    }
							    reviewmodal.open();
							    reviewmodal.observe('beforeClose',function(){
								review = false;
							    });
							    return true;
							    Event.stop(e);
							} else {
							    reviewmodal.close();
							}
						    <?php endif;?>
							already_placing_order = true;

							var submitelement = $('onestepcheckout-place-order');

							var loaderelement = new Element('div').
							    addClassName('onestepcheckout-place-order-loading').
							    update('<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif'); ?>" />&nbsp;&nbsp;<?php echo $this->__('Please wait, processing your order...'); ?>');

							submitelement.parentNode.appendChild(loaderelement);

							/* Disable button to avoid multiple clicks */
							submitelement.removeClassName('orange').addClassName('grey');
							submitelement.disabled = true;

							/* Submit the form */
							$('onestepcheckout-form').submit();
						    }
						}
			}
		/*************************************************/
               // First validate the form
          }     
            });
		
        });


        // This is a separate page
        var url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>';
        var update_payments = <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>;

        $$('dl.shipment-methods input').invoke('observe', 'click', get_separate_save_methods_function(url, update_payments));
        $$('div.payment-methods input[name="payment\[method\]"]').invoke('observe', 'click', get_separate_save_methods_function(url));

        $$('div.payment-methods input[name="payment\[method\]"]').invoke('observe', 'click', function() {
            $$('div.onestepcheckout-payment-method-error').each(function(item) {
                new Effect.Fade(item);
            });
        });

        $$('dl.shipment-methods input').invoke('observe', 'click', function() {
            $$('div.onestepcheckout-shipment-method-error').each(function(item) {
                new Effect.Fade(item);
            });
        });

        var has_hidden_terms = false;

        if($('id_accept_terms') != null)    {

            $('id_accept_terms').observe('click', function(e)   {
                var element = e.element();

                if(element.checked) {
                    $$('div.onestepcheckout-terms-error').each(function(item) {
                        new Effect.Fade(item);
                        has_hidden_terms = true;
                    });
                }
                else    {
                    if(has_hidden_terms)    {
                        $$('div.onestepcheckout-terms-error').each(function(item) {
                            new Effect.Appear(item);
                            has_hidden_terms = false;
                        });
                    }
                }
            });
        }
    }

    var form = $('onestepcheckout-form');

    /* Highlight selected payment method if one set */
    if($RF(form, 'payment[method]') != null)    {
        try {
            var payment_method = $RF(form, 'payment[method]');
            $('container_payment_method_' + payment_method).show();
            $('payment_form_' + payment_method).show();
        } catch(err)    {

        }
    }

    /* Set default shipping method if not set */
    if($RF(form, 'shipping_method') == null)    {
        try {
            var method = '<?php echo $this->_getDefaultShippingMethod(); ?>';
            if(method != '')    {
                $('s_method_' + method).checked = true;
                get_separate_save_methods_function(url);
            }
        } catch(err)    {

        }
    }
   //submit what's available on load
   get_separate_save_methods_function(url)();

<?php if($this->differentShippingAvailable()): ?>
    $('billing:use_for_shipping_yes').observe('click', function(e)  {
        var element = e.element();
        if(element.checked){
            $('shipping_address').hide();
        } else {
            if($('shipping-address-select') && $('shipping-address-select').value == ''){
                $('shipping_address_list').show()
            }
            $('shipping_address').show();
            <?php if(!$this->isCustomerLoggedIn()):?>
            $('shipping_address_list').show()
            <?php endif;?>
            <?php if($this->isCustomerLoggedIn()):?>
            if(!$('shipping-address-select') && $('shipping_address_list').getStyle('display')=='none'){
                $('shipping_address_list').show()
            }
            <?php endif;?>
        }

        <?php if($this->settings['enable_ajax_save_billing']): ?>
        get_save_billing_function('<?php echo $this->getUrl('onestepcheckout/ajax/save_billing', array('_secure'=>true)); ?>', '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>', <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>, true)();
        <?php endif; ?>

    });
    <?php endif; ?>
    <?php
        $triggers = Mage::getStoreConfig('onestepcheckout/ajax_update/ajax_save_billing_fields');
        if(!empty($triggers)){
            $triggers = str_replace('country', 'country_id', $triggers);
            $triggers = str_replace('state/region', 'region_id', $triggers);
            $triggers = explode(',',$triggers);
            if(in_array('region_id',$triggers)){
                $triggers[] = 'region';
            }
        }
    ?>

    <?php if(Mage::getStoreConfig('onestepcheckout/ajax_update/enable_ajax_save_billing') && !empty($triggers)):?>

        var url_save_billing = '<?php echo $this->getUrl('onestepcheckout/ajax/save_billing', array('_secure'=>true)); ?>';
        var url_set_methods = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>';
        var update_payments = <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>;
        var update_on_initial = false;

        var euvat = $('euvat_action_validate_taxvat');

        if(euvat !== null){
            euvat.observe('click', get_save_billing_function(url_save_billing, url_set_methods, update_payments, true));
        }

        triggers = ['<?php echo implode ('\',\'',$triggers)?>'];
        btriggered = [];
        striggered = [];

        <?php
        foreach($triggers as $value){
            echo (($this->getQuote()->getBillingAddress()->getData($value)) ? 'btriggered.push(\'billing:'.$value.'\');' : '');
            echo (($this->getQuote()->getShippingAddress()->getData($value)) ? 'striggered.push(\'shipping:'.$value.'\');' : '');
        }
        ?>


        bcountry_id = $('billing:country_id');
        if(bcountry_id){
            if(bcountry_id.getValue()){
                if(!btriggered.include('billing:country_id')){
                    btriggered.push('billing:country_id');
                }
            }
        }
        scountry_id = $('shipping:country_id');
        if(scountry_id){
            if(scountry_id.getValue()){
                if(!striggered.include('shipping:country_id')){
                    striggered.push('shipping:country_id');
                }
            }
        }

        batriggered = false;
        satriggered = false;

        triggers.each(function(item){
            var belement = $('billing:'+item);
            if(belement){
                belement.observe('change', function(e){
                    id = e.element().id;
                    if(!btriggered.include(id)){
                        btriggered.push(id);
                    }
                    if(btriggered.length >= triggers.length-1){
                        batriggered = true;
                    }
                    get_save_billing_function(url_save_billing, url_set_methods, update_payments, batriggered)();
                });
            }

            var selement = $('shipping:'+item);
            if(selement){
                selement.observe('change', function(e){
                    id = e.element().id;
                    if(!striggered.include(id)){
                        striggered.push(id);
                    }
                    if(striggered.length >= triggers.length-1){
                        satriggered = true;
                    }
                    get_save_billing_function(url_save_billing, url_set_methods, update_payments, satriggered)();
                });
            }
        });

        <?php if($this->isCustomerLoggedIn()):?>
            var bselect = $('billing-address-select');
            var sselect = $('shipping-address-select');
            if(bselect){
                bselect.observe('change', get_save_billing_function(url_save_billing, url_set_methods, update_payments, true));
            }
            if(sselect){
                sselect.observe('change', get_save_billing_function(url_save_billing, url_set_methods, update_payments, true));
            }
        <?php endif;?>

    <?php endif; ?>

});

if($('payment-tool-tip-close')){
    Event.observe($('payment-tool-tip-close'), 'click', toggleToolTip);
}

</script>


<?php endif; ?>
<?php
$session = Mage::getSingleton("core/session");
$arrySession=$session->getData();
//print_r($arrySession);
$checkResource =  Mage::getResourceSingleton('checkout/cart');
if($arrySession['rev_credit_plan']!=null && $arrySession['keycode_valid']=='Y')
    $regioneInfo = $checkResource->getRegionInfo($arrySession['rev_credit_cust_state']);

?>
<div id="onestepcheckout_popup_overlay" style="display: none;">&nbsp;</div>


<div id="loading-process" style="display: none;"></div>
<script type="text/javascript">
//Ajax request for gift replacment 
jQuery.noConflict();
jQuery(document).ready(function(){
    //alert('test');
    jQuery('#cashondeliveryinitial').hide();
    //alert('test');
    jQuery(".input-country").parent('li').css("margin-top","-18px");
    if(jQuery("#p_method_cashondelivery").is(':checked')){
        jQuery('.giftr-text').hide();
    }else{
        jQuery('.giftr-text').show();
    }


});
function checkform(code){
    if(code=='cashondelivery'){
        jQuery('#billing_redback').show();
        jQuery('#billing_address').hide();
        jQuery('#cashondeliveryinitial').show();
        jQuery('.giftr-text').hide();
        jQuery('#billing_redback a').hide();
        document.getElementById('billing:firstname').value='<?php echo $arrySession['rev_credit_cust_first_name']?>';
        document.getElementById('billing:lastname').value='<?php echo $arrySession['rev_credit_cust_last_name']?>';
        document.getElementById('billing:telephone').value='<?php echo $arrySession['rev_credit_cust_phone']?>';
        document.getElementById('billing:city').value='<?php echo $arrySession['rev_credit_cust_city']?>';
        document.getElementById('billing:postcode').value='<?php echo $arrySession['rev_credit_cust_zip']?>';
        regionId= '<?php echo $regioneInfo[0]['region_id']?>';
        document.getElementById('billing:region_id').value=regionId;
        document.getElementById('billing:street1').value='<?php echo $arrySession['rev_credit_cust_add1']?>';
        document.getElementById('billing:street2').value='<?php echo $arrySession['rev_credit_cust_add2']?>';

    }else{
        jQuery('#cashondeliveryinitial').hide();
        jQuery('.giftr-text').show();
        jQuery('#billing_redback a').show();
    }
}
function giftreplacement(id){
	var customergiftreplacment = document.getElementById(id).value;
	if(jQuery.trim( customergiftreplacment )!=''){
		var giftreplacment1 = document.getElementById('hdnGiftreplacment1').value;
		var giftreplacment2 = document.getElementById('hdnGiftreplacment2').value;
		obj = false;
		if(window.ActiveXObject){
			obj = new ActiveXObject("Microsoft.XMLHTTP");
		}else{
			obj = new XMLHttpRequest();
		}
		qid= '<?php echo $quoteId;?>';
		if(id=='customer_giftreplacment')
			obj.open('GET','<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>ajaxfiles/giftreplacement.php?grnumber='+customergiftreplacment+'&quoteid='+qid);
		else
			obj.open('GET','<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl(); ?>ajaxfiles/giftcertificate.php?grnumber='+customergiftreplacment+'&quoteid='+qid);
		obj.onreadystatechange = function(){
			if(obj.readyState <4){ 
				document.getElementById('payment-please-wait').style.display='block';
			}else if (obj.readyState ==4 && obj.status ==200){
				jsonResponseString= obj.responseText;
				jsonResponse = JSON.parse(jsonResponseString);
				if(jsonResponse.Cert_Errmsg==""){
					finalGiftAmount = jsonResponse.Cert_Amount;
					if(finalGiftAmount > 0){
						if(jQuery(".onestepcheckout-totals .gift-replacement").length > 0){
							gfpricehtml = jQuery(".gift-replacement .value .price").html();
							gfpricegrand = gfpricehtml.substring(1);
							finalGrandAmount= parseFloat(gfpricegrand) + parseFloat(finalGiftAmount);
							gfroundFloat = Math.round(finalGrandAmount*100)/100;
							jQuery(".gift-replacement .price").html("$"+gfroundFloat);
						}else{
							strdiscountHtml ='<tr class="gift-replacement"><td class="title">Gift Discount</td><td class="value"><span class="price">$'+finalGiftAmount+'</span></td></tr>';
							jQuery(".grand-total").before(strdiscountHtml);
							finalGrandAmount = finalGiftAmount;
						}
						
						pricehtml = jQuery(".grand-total .price").html();
						pricegrand = pricehtml.substring(1);
						finalGrandAmount = parseFloat(pricegrand) - parseFloat(finalGiftAmount);
						roundFloat = Math.round(finalGrandAmount*100)/100;
						jQuery(".grand-total .price").html("$"+roundFloat);
						if(id=='customer_giftreplacment'){
							alert('Gift replacment discount added successfully');
						}else{
							alert('Gift certified discount added successfully');
						}
				
					}
				}else{
					alert("Error:"+jsonResponse.Cert_Errmsg);			
				}
	
				document.getElementById('payment-please-wait').style.display='none';
			}
		}
		obj.send(null);
	}
   }

</script>
<script type="text/javascript">
//<![CDATA[
	//Validate billing address
	function validateups_billaddress(){
		strcity =	document.getElementById('billing:city').value;
		strstate =	document.getElementById('billing:region_id').value;
		strzip =	document.getElementById('billing:postcode').value;
		strstreet =	document.getElementById('billing:street1').value;
		strstreet2 =	document.getElementById('billing:street2').value;
		if(strcity!="" && strstate!="" && strzip!=""&& strstreet!=""){
			var opts = document.getElementById('onestep_region_code').options;
			for(var i = 0, j = opts.length; i < j; i++){
				if(strstate==opts[i].text){
					strregioncode = opts[i].value;
					break;
				}
			}
			obj = false;
			if(window.ActiveXObject){
				obj = new ActiveXObject("Microsoft.XMLHTTP");
			}else{
				obj = new XMLHttpRequest();
			}
			obj.open('GET','<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>ajaxfiles/ups_api/address.php?type=bill&city='+strcity+'&state='+strregioncode+'&zip='+strzip+'&address1='+strstreet+'&address2='+strstreet2);
			obj.onreadystatechange = function(){
				if(obj.readyState <4){ 
					//document.getElementById('payment-please-wait').style.display='block';
				}else if (obj.readyState ==4 && obj.status ==200){
					if(obj.responseText=='none'){
						var r=confirm("Sorry, we are unable to verify your billing address.Click OK to continue placing your order with this billing address or Cancel to re-enter your billing address.");
						if (r==true)
						  {
						  x="You pressed OK!";
							boolshipSave=false;
						  }
						else
						  {
							document.getElementById('billing:city').value='';
							document.getElementById('billing:region_id').value='';
							document.getElementById('billing:postcode').value='';
							document.getElementById('billing:street1').value='';
							document.getElementById('billing:street2').value='';
				
						  } 
					}else if(obj.responseText=='exact'){
						boolbillSave=false;
					}else{
						document.getElementById('address-check').innerHTML =obj.responseText;
						document.getElementById('address-check').style.display="block";
						document.getElementById('address-overlay').style.display="block";
					}
				}
			}
			obj.send(null);
		}
		
	
	}
	//validate shipping address
	function validateups_shipaddress(){
		
		strcity =	document.getElementById('shipping:city').value;
		strstate =	document.getElementById('shipping:region_id').value;
		strzip =	document.getElementById('shipping:postcode').value;

		strstreet =	document.getElementById('shipping:street1').value;
		strstreet2 =	document.getElementById('shipping:street2').value;
		if(strcity!="" && strstate!="" && strzip!="" && strstreet!=""){
			var opts = document.getElementById('onestep_region_code').options;
			for(var i = 0, j = opts.length; i < j; i++){
				if(strstate==opts[i].text){
					strregioncode = opts[i].value;
					break;
				}
			}
			obj = false;
			if(window.ActiveXObject){
				obj = new ActiveXObject("Microsoft.XMLHTTP");
			}else{
				obj = new XMLHttpRequest();
			}
			obj.open('GET','<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>ajaxfiles/ups_api/address.php?type=ship&city='+strcity+'&state='+strregioncode+'&zip='+strzip+'&address1='+strstreet+'&address2='+strstreet2);
			obj.onreadystatechange = function(){
				if(obj.readyState <4){ 
					//document.getElementById('payment-please-wait').style.display='block';
				}else if (obj.readyState ==4 && obj.status ==200){
					if(obj.responseText=='none'){
						var r=confirm("Sorry, we are unable to verify your shipping address.Click OK to continue placing your order with this shipping address or Cancel to re-enter your shipping address.");
						if (r==true)
						  {
						  x="You pressed OK!";
						  boolshipSave=false;
						  }
						else
						  {
							document.getElementById('shipping:city').value='';
							document.getElementById('shipping:region_id').value='';
							document.getElementById('shipping:postcode').value='';
							document.getElementById('shipping:street1').value='';
							document.getElementById('shipping:street2').value='';
						  } 
					}else if(obj.responseText=='exact'){
						boolshipSave=false;
					}else{
						document.getElementById('address-check').innerHTML =obj.responseText;
						document.getElementById('address-check').style.display="block";
						document.getElementById('address-overlay').style.display="block";
					}
				}
			}
			obj.send(null);
		}
		
	
	}

	jQuery.noConflict();
	//Update billing address info selected in pop up
        function updateaddressinfo(ref){
         if(!jQuery(ref).hasClass("default-billing")){
             document.getElementById('shippingAddress').style.display='none';
             document.getElementById('billingAddress').style.display='block';
         }else{
             document.getElementById('shippingAddress').style.display='none';
             document.getElementById('billingAddress').style.display='none';
         }
        document.getElementById('billing:city').value=jQuery(ref).parent('li').find('.region-city').val();
		document.getElementById('billing:postcode').value=jQuery(ref).parent('li').find('.region-zip').val();
		regioncode =jQuery(ref).parent('li').find('.region-state').val();
		regionId= jQuery("#onestep_region_code option[value="+regioncode+"]").text();
		document.getElementById('billing:region_id').value=regionId;
		document.getElementById('billing:street1').value=jQuery(ref).parent('li').find('.region-address1').val();
		document.getElementById('billing:street2').value=jQuery(ref).parent('li').find('.region-address2').val();
		document.getElementById('address-check').innerHTML ='';
		document.getElementById('address-check').style.display="none";
		document.getElementById('address-overlay').style.display="none";
		boolbillSave = false;
		
	}
	//Update shipping address info selected in pop up
	function updateshipaddressinfo(ref){
        if(!jQuery(ref).hasClass("default-shipping")){
            document.getElementById('billingAddress').style.display='none';
            document.getElementById('shippingAddress').style.display='block';
        }else{
            document.getElementById('shippingAddress').style.display='none';
            document.getElementById('billingAddress').style.display='none';
        }
		document.getElementById('shipping:city').value=jQuery(ref).parent('li').find('.region-city').val();
		document.getElementById('shipping:postcode').value=jQuery(ref).parent('li').find('.region-zip').val();
		regioncode =jQuery(ref).parent('li').find('.region-state').val();
		regionId= jQuery("#onestep_region_code option[value="+regioncode+"]").text();
		document.getElementById('shipping:region_id').value=regionId;
		document.getElementById('shipping:street1').value=jQuery(ref).parent('li').find('.region-address1').val();
		document.getElementById('shipping:street2').value=jQuery(ref).parent('li').find('.region-address2').val();
		document.getElementById('address-check').innerHTML ='';
		document.getElementById('address-check').style.display="none";
		document.getElementById('address-overlay').style.display="none";
		boolshipSave=false;		
	}
	////closing the pop up
	function closeaddressvalid(){
		document.getElementById('address-check').innerHTML ='';
		document.getElementById('address-check').style.display="none";	
		document.getElementById('address-overlay').style.display="none";
	}

	//tracking the change request in address fields shipping and billing
	function checkaddresschange(type){
		if(type == 1){
			boolbillSave = true;
		}else if(type ==2){
			boolshipSave = true;
		}
	}
	
//]]>
</script>
		<div style="display:none">
<?php 
//used for getting the region code of the region used in billing and shipping
$write =Mage::getSingleton('core/resource')->getConnection('core_write');
$regionInfo = $write->FetchAll("SELECT * FROM directory_country_region WHERE country_id='US'");
?>
			<select id="onestep_region_code" name="onestepregion" title="<?php echo $this->__('Code') ?>">
				<?php foreach($regionInfo as $region) {?>
                                <option value="<?php echo $region['code'];?>"><?php echo $region['region_id'];?></option>
				<?php }?>
                            </select>		
		</div>
