<?php $banners = $this->getBanners();?>

<div class="banner_client">
    <div class="page-title">
        <h1><?php echo $this->__('My Banners') ?></h1>
    </div>
	<?php echo $this->getPageHtml(); ?>
	<?php if($banners->getSize()): ?>
    <table class="data-table" id="my-orders-table">
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<thead>
			<tr>
				<th><?php echo $this->__('ID') ?></th>
				<th><?php echo $this->__('Banner') ?></th>
				<th><?php echo $this->__('Category') ?></th>
				<th><?php echo $this->__('Click URL') ?></th>
				<th><?php echo $this->__('Clicks') ?></th>
				<th><?php echo $this->__('Impressions') ?></th>
				<th><?php echo $this->__('Start Date') ?></th>
				<th><?php echo $this->__('End Date') ?></th>
				<th><?php echo $this->__('Status') ?></th>
			</tr>
		</thead>
		<tbody>
			<?php $_odd = ''; ?>
			<?php foreach ($banners as $banner): ?>
			<tr>
				<td><?php echo $banner->getId() ?></td>
				<td><?php echo $banner->getName() ?></td>
				<td><?php echo $this->getCategory($banner) ?></td>
				<td><?php echo $banner->getClickurl() ?></td>
				<td><?php echo $this->getClicks($banner) ?></td>
				<td><?php echo $this->getImpressions($banner) ?></td>
				<td><span class="nobr"><?php echo $this->formatDate($banner->getStartdate()) ?></span></td>
				<td><span class="nobr"><?php echo $this->formatDate($banner->getEnddate()) ?></span></td>
				<td><?php echo $this->getStatus($banner) ?></td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
	<?php echo $this->getPageHtml(); ?>
	<?php else: ?>
	<div class="note-msg">
		<p><?php echo $this->__('You have no banners') ?>.</p>
	</div>	
	<?php endif ?>
</div>