<?php $actionName = $this->getAction()->getFullActionName(); ?>

<?php if($actionName == "catalog_category_view" || $actionName == "catalogsearch_result_index" || $actionName == "catalogsearch_advanced_result"):?>
<?php if($actionName == "catalog_category_view"):
$redirectUrl = '';?>
<?php endif; ?>
<?php if(isset($_POST['find-zone'])) { ?>

<?php } ?>
<div class="YourZone">
            <div class="">
              <form method="post" action=" " id="sortzoneForm" onsubmit="return checkkeyword();">
                <div>
                  <p class="headline"><strong>Sort Plants By<br>
<span style="font-size:21px">
Your Zone</span></strong></p>
                 <div class="zone-text">Help us find the plants <br> that are right for you</div>                     
                 <div style="margin-top:5px;" class="ZipCode">                     
                     <input type="text" onblur="if (this.value == '') { this.value = 'Enter Zip Code'; }" onfocus="if (this.value == 'Enter Zip Code') { this.value = ''; }" class="input-text" value="Enter Zip Code" name="sort-zip-code" id="zip-code">
                     <br />
                 <button class="button MyZone" title="Find My Zone" type="submit" name="find-zone"><span><span class="btn-buy">Find My Zone</span></span></button>
                    
                     </div>

                  <p></p>                 
                  
                  <div class="clearfix"></div>
                  
                </div>
              </form>

            </div>
          </div>
          		<script type="text/javascript">
		function checkkeyword(){ 	
			var id=document.getElementById("zip-code"); 
			if(id.value.trim()=="" || id.value=="Enter Zip Code") 
			{ 
				alert("Please Enter Zip Code to find your Zone"); 
				id.focus(); 
				return false; 
			}     
		}
		</script> 
          <?php endif;?>
