<?php
$secureurl=Mage::getResourceSingleton('checkout/cart')->getsecureurl();
// saving product into the cart if selects name
$product_id = $_REQUEST['pid']; ?>
<?php  $_product = Mage::getModel('catalog/product')->load($product_id);  ?>

<?php echo $botanical_name = $_product->getBotanicalName(); ?>
<?php echo $form = $_product->getForm(); ?>
<?php $sun_exposure = $_product->getSunExposure(); ?>
<?php $height_habit = $_product->getHeightHabit(); ?>
<div>
	<div class="product-name">
	<h1>Product Description for <?php echo $_product->getName(); ?></h1>
	<div class="description">
		<?php echo stripslashes($_product->getDescription()); ?>
		</div>
	</div>
	<div class="product-name">
	<h1>Product Details for <?php echo $_product->getName(); ?></h1>
	</div>
	

</div>





