<?php
/*
Create Sitemap for CMS Pages & Categories
*/
// To get the list of active pages that we have on the current website
function getCreareCMSPages(){  
	$cms_pages=array("home","need-help","return-policy",'returns',"guarantee","affiliate","faqs","testimonials","privacy-policy","contacts"); // Page array to be display on sitemap
	$cms = Mage::getModel('cms/page')->getCollection()->addOrder("title","asc");
	$html = "";
	foreach($cms as $cmspage):
		$page = $cmspage->getData();	
		if($page['identifier'] == "no-route" || $page['identifier'] == "enable-cookies" || $page['identifier'] == "empty"){ 
			/* do nothing or something here */ 
		} else {
			if($page['identifier'] == "home"){
				//$html .= "<li><a href=\"/\" title=\"".$page['title']."\">".$page['title']."</a></li>\n"; // this is for a nice local link to home
			} else {
				if(in_array($page['identifier'],$cms_pages)){
					$html .= "<li><a href=\"".$page['identifier']."\" title=\"".$page['title']."\">".$page['title']."</a></li>\n";
				}
			}
		}
	endforeach;	
	return $html;	
}

?>

<div class="two-column">
	<h2 class="smh2">Our Main Pages</h2>
    <ul class="siteul">
        <?php echo getCreareCMSPages(); // prints out our cms pages ?>
    </ul>
</div>
<div class="two-column">
	<h2 class="smh2">Our Categories</h2>
	<ul class="sitecatul">
	<?php $_categories = Mage::getModel('catalog/category') // getting the list of all category that is assiged to is_sitemap attribute
                    ->getCollection()
                    ->addAttributeToSelect('*')
					->addAttributeToFilter('is_sitemap',array('eq'=>'1'))
					->addAttributeToFilter('include_in_menu',array('eq'=>'1'))
                    ->addIsActiveFilter(); ?>
	
	<?php $i=0; ?>
	<?php if (count($_categories) > 0 ): ?>

			
        <?php foreach($_categories as $_category): ?>
			<?php $_categorylist[$_category->getName()] = $_category->getId(); ?>
		<?php endforeach; ?>

		<?php ksort($_categorylist); // sorting the category by name?>

		<?php foreach($_categorylist as $_catId): ?>
			<?php $_cat = Mage::getModel('catalog/category')->load($_catId);	?>     
	    	<?php if($_cat->getParentId()==2): // If main category is active then only we'll display the list of sub category?>
			<li>
				<a href="<?php echo $_cat->getUrl(); ?>"><?php echo $_cat->getName();?></a>
				<?php $j=0; ?>
				<?php $_subcategories=''; ?>
		    	<?php $_subcategories = $_cat->getChildrenCategories();// sub category collection ?>
				<?php if (count($_subcategories) > 0 ): ?>
				
						<?php  $subCategoriesSorted=''; ?>
						<?php foreach($_subcategories as $_subcategory): ?>
							<?php $subCategoriesSorted[$_subcategory->getName()] = $_subcategory->getId(); ?>
							<?php $subSorted[] = $_subcategory->getId(); ?>
						<?php endforeach; ?>

						<?php ksort($subCategoriesSorted); // sorted the sub category list ?>
						<?php foreach ( $subCategoriesSorted as $subCategoryId ):?>
							<?php $cat = Mage::getModel('catalog/category')->load($subCategoryId);	?>                            
							<?php if($cat->getIsActive() && $cat->getIsSitemap() ): // if active and assigned to sitemap condition ?>                     
								<ul>
			   						<li><a href="<?php echo $cat->getUrl(); ?>" id="sub-<?php echo $cat->getId(); ?>"><?php echo $cat->getName(); ?></a></li>
								</ul>	
							<?php endif; ?>
						<?php endforeach; ?>
					
				<?php $j++; ?>
			    <?php endif; ?>
			</li>            	
			<?php endif; ?>
        <?php endforeach; ?>
	<?php $i++; ?>
	<?php endif; ?>	
	</ul>
</div>

