<script src="<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>js/jquery/jquery-1.7.1.min.js"></script>
<div class="quick-order-form" >
    <?php
    $sessid=session_id();
    $request = $this->getRequest();
    $module = $request->getModuleName();
    $controller = $request->getControllerName();
    $action = $request->getActionName();
    ?>
    <h3>Order from the Spring Hill Nursery Catalog</h3>
    <p class="paraText"> <b>Shopping with a Spring Hill catalog or mailer in hand?</b> Our quick Catalog Order page makes it quick and easy for you to place your order using just item numbers with 3 simple steps:</p>
    <div class="quickorder-steps"  >
        <div class="step quickorder-left"><span class="spanText">STEP 1:</span> Enter Your Information
            <p class="paraText">We just need a few details to help speed along the process and get you any discounts that apply to you.</p>
            <div class="step1" >
                <div>
                    <div class="label"><label>Email</label></div>
                    <div class="quickorder-input" >
                        <input type="text" name="email" id="emailId" value="<?php echo Mage::getSingleton('core/session')->getData("quickOrderEmailId");?>" class="input-text" onkeyup="addEmailToCookie();" />
                        <p class="paraText" id="emailText" >Where will your order confirmation be sent?</p>
                    </div>
                </div>
                <div class="clear"></div>
                <div>
                    <div class="label"><label>Key No.</label></div>
                    <div class="quickorder-input">
                        <input type="text" name="couponCode" id="offerCode" value="<?php echo Mage::getSingleton('core/session')->getData("offerCode")?>" class="input-text" onkeyup="addOfferToCookie();" style="background:#E8F3F2"/>
                        <p class="paraText" id="offerText" >Activate any offers with the key code number in the green box</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
        <div class="quickorder-right" >
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('quickorder-image')->toHtml() ?>
        </div>
        <div class="clear"></div>
        <div class="step"><span class="spanText" >STEP 2:</span> Enter Your Items
            <p class="paraText">Enter your item numbers one at a time, choose your desired quantity, and click the "add to cart" button to add the item to your quick order list below.</p>
            <div class="item-table ">
                <form method="post" name="quickorder" id="contactForm" action="<?php echo $this->getBaseUrl();?>quickorder/index/post/" >

                    <table width="75%" cellpadding="5" cellspaing="10" class="data-table discount">
                        <tr class="quick-head">
                            <td class="text">Enter item number</td>
                            <td class="text">Price</td>
                            <td class="text" colspan="2">Qty</td>
                        </tr>
                        <tr class="quick-body" id="quickorder-record" style="height: 35px;">
                            <td class="text" style="width:40%;min-height:25px;"><input type="text" style="width:100px"  name="sku-entry[]" id="productSku" value="" class="input-text" onkeyup="getItemInfo();" /></td>
                            <td class="text" style="width:30%;min-height:25px;">--</td>
                            <td class="text" style="width:20%;min-height:25px;" >
                                <select name="qty[]" class="" >
                                    <option value="" class=""></option>
                                </select>
                            </td>
                            <td class="text" style="width:10%;min-height:25px;" ><div id="loaderImg" style="display: none;"><img src="<?php echo Mage::getBaseUrl().'skin/frontend/enterprise/springhills/images/loader_quickorder.gif' ;?>" width="24" height="24" border="0"></div></td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>

        <div class="step"><span class="spanText">STEP 3:</span> Review Your Items And Proceed To Your Cart
            <p class="paraText">Please review all your items and make any changes where needed. When finished, click the red button below to proceed to our quick and easy checkout process.</p>
            <?php  echo $this->getLayout()->createBlock('checkout/cart')->setTemplate('checkout/quickcart.phtml')->toHtml();  ?>
        </div>
    </div>
</div>
<div style="clear:both;" ></div>
<script type="text/javascript">
    //<![CDATA[
    jQuery.noConflict();
    jQuery(document).ready(function($){
        var couponCode = '';
        var quickOrderEmail ='';
        couponCode = '<?php echo Mage::getSingleton('core/session')->getData("offerCode")?>';
        quickOrderEmail  = '<?php echo Mage::getSingleton('core/session')->getData("quickOrderEmailId")?>';

        if(quickOrderEmail!=null && quickOrderEmail!=''){
            addEmailToCookie();
        }else{

            jQuery("#emailId").val(' ');
            jQuery("#emailId").next('.paraText').addClass('remove-font-color');
        }

        if(couponCode!=null && couponCode!=''){
            setTimeout('addOfferToCookie()',2000);
        }else{
            jQuery("#offerCode").val(' ');
            jQuery('#offerCode').next('.paraText').addClass('remove-font-color');
        }

        $("#offerPopUp").live('click',function(){
            $("#address-overlay").show();
            $("#bannerImagePopUp").show();
        });
        jQuery(".price").each(function(){
            if (jQuery(this).hasClass('offer-red')){
                strcss = jQuery(this).css('color');
                jQuery(this).find('span').css('color',strcss);
            }
        });
    });


    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds){
                break;
            }
        }
    }


    function getItemInfo(){
        var sku =	jQuery("#productSku").val();
        var offer =	jQuery("#offerCode").val();
        obj = false;
        if(window.ActiveXObject){
            obj = new ActiveXObject("Microsoft.XMLHTTP");
        }else{
            obj = new XMLHttpRequest();
        }
        obj.open('GET','<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>ajaxfiles/quickorder.php?offer='+offer+'&sku='+sku+'&itemflg=1');
        obj.onreadystatechange = function(){
            if(obj.readyState <4){
                //alert(sku);
                jQuery('#loaderImg').show();
            }else if (obj.readyState ==4 && obj.status ==200){
                jQuery('#loaderImg').hide();
                jQuery('#quickorder-record').html(obj.responseText);
                SetCaretAtEnd(document.getElementById('productSku'));
            }
        }
        obj.send(null);
    }

    function SetCaretAtEnd(elem) {
        var elemLen = elem.value.length;
        // For IE Only
        if (document.selection) {
            // Set focus
            elem.focus();
            // Use IE Ranges
            var oSel = document.selection.createRange();
            // Reset position to 0 & then set at end
            oSel.moveStart('character', -elemLen);
            oSel.moveStart('character', elemLen);
            oSel.moveEnd('character', 0);
            oSel.select();
        }
        else if (elem.selectionStart || elem.selectionStart == '0') {
            // Firefox/Chrome
            elem.selectionStart = elemLen;
            elem.selectionEnd = elemLen;
            elem.focus();
        } // if
    } // SetCaretAtEnd()
    function closeOfferPopUp(){
        document.getElementById('address-overlay').style.display='none';
        document.getElementById('bannerImagePopUp').style.display='none';
    }
    function addEmailToCookie(){
        var email =	jQuery("#emailId").val();
        obj = false;
        if(window.ActiveXObject){
            obj = new ActiveXObject("Microsoft.XMLHTTP");
        }else{
            obj = new XMLHttpRequest();
        }
        obj.open('GET','<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>ajaxfiles/quickorder.php?email='+email+'&emailflg=1');
        obj.onreadystatechange = function(){
            if(obj.readyState <4){
                //document.getElementById('review-update-wait').style.display='block';
            }else if (obj.readyState ==4 && obj.status ==200){
                if(jQuery.trim(obj.responseText)=='Where will your order confirmation be sent?'){
                    
                    jQuery('#emailId').next('.paraText').addClass('remove-font-color');
                } else{
                    jQuery('#emailId').next('.paraText').removeClass('remove-font-color');
                }
                jQuery('#emailText').html(obj.responseText);

            }
        }
        obj.send(null);
    }
    function addOfferToCookie(){
        var offer =	jQuery("#offerCode").val();
        obj = false;
        if(window.ActiveXObject){
            obj = new ActiveXObject("Microsoft.XMLHTTP");
        }else{
            obj = new XMLHttpRequest();
        }
        obj.open('GET','<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>ajaxfiles/quickorder.php?offer='+offer+'&offerflg=1');
        obj.onreadystatechange = function(){
            if(obj.readyState <4){
                //document.getElementById('review-update-wait').style.display='block';
            }else if (obj.readyState ==4 && obj.status ==200){
                jQuery("#offerText").html(obj.responseText);
                jQuery("#offerCode").css('background','#E8F3F2');
                if(jQuery.trim(obj.responseText)=='Activate any offers with the key code number in the green box'){
                    jQuery('#offerCode').next('.paraText').addClass('remove-font-color');
                } else{
                    jQuery('#offerCode').next('.paraText').removeClass('remove-font-color');
                }
            }

        }
        obj.send(null);
    }

</script>

    <!--<div class="quick-order">
        <form method="post" name="quickorder" id="contactForm" action="<?php //echo $this->getBaseUrl();?>quickorder/index/post/" onSubmit="validate()">
            <div id="p_scents1">
                <p style="display:block;">
                    <label for="p_scnts"><span>Enter Catalog SKU</span><br/>
                        <input type="text" id="sku-entry1" class="sku-entry1 catalog-sku" size="20" min="2" maxlength="10" name="sku-entry[]" value="Enter Item #" onfocus="if (this.value == 'Enter Item #') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Enter Item #'; }" />
                        <input type="text" id="qty1" style="margin-left:-3px;" class="qty1" maxlength="4"  name="qty[]" value="Qty." onfocus="if (this.value == 'Qty.') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Qty.'; }" />
                    </label>
                    <span ><button  id="go" class="button btn-cart" title="Add to Cart" type="submit"><span><span>Add to Cart</span></span></button></span>
                </p>
            </div>
            <div class="ad-mutiple-items">
                <div class="addMore"><a href="#" id="addScnt1"> Add Multiple Items?</a></div><br>


            </div>
        </form>
    </div>-
    <script type="text/javascript">
        //<![CDATA[
        var quickorder = new VarienForm('quickorder', false);
        //]]>
    </script>

    <<script src="<?php //echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>js/jquery/jquery-1.6.4.min.js"></script>
    <script type="text/javascript">
        jQuery.noConflict();
        jQuery(document).ready(function($) {


            var scntDiv = $('#p_scents1');
            var i = $('#p_scents1 p').size() + 1;
            $('#addScnt1').click(function() {

                $('<div class="clear"></div><p><label for="p_scnts"><input type="text" id="sku-entry'+ i +' catalog-sku" maxlength="10" class="sku-entry1" size="20" name="sku-entry[]" value="Enter Item #" onfocus="if (this.value == \'Enter Item #\') { this.value = \'\'; }" onblur="if (this.value == \'\') { this.value = \'Enter Item #\'; }" style="float:left;width:80px;" ><input type="text" maxlength="4" class="qty1" id="qty' + i +'" size="20" name="qty[]" value="Qty"  onfocus="if (this.value == \'Qty\') { this.value = \'\'; }" onblur="if (this.value == \'\') { this.value = \'Qty\'; }"           style="float:left;width:25px;margin-right:5px;" ></label> <a href="#" id="remScnt1">Remove</a></p>').appendTo(scntDiv);
                i++;
                return false;
            });

            $('#remScnt1').live('click', function() {
                if( i > 2 ) {
                    $(this).parents('p').remove();
                    i--;
                }
                return false;
            });
            $('#go').click(function() {
                if(($("#sku-entry1").val()=="Enter Item #" || $("#sku-entry1").val()=="") && ($("#qty1").val()=="Qty." || $("#qty1").val()=="")){
                    alert("Please enter a 5-digit Item Number and a number for Quantity");
                    return false;
                }

                if($("#sku-entry1").val()=="Enter Item #" || $("#sku-entry1").val()==""){
                    alert("Please enter a 5-digit Item Number");
                    return false;
                }
                if($("#qty1").val()=="Qty." || $("#qty1").val()==""){
                    alert("Please enter a number for Quantity");
                    return false;
                }
            });
        });


    </script>-->


