<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Phoenix
 * @package    Phoenix_CashOnDelivery
 * @copyright  Copyright (c) 2010 Phoenix Medien GmbH & Co. KG (http://www.phoenix-medien.de)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
$_code		= $this->getMethodCode();
$_extra_fee	= $this->getMethod()->getAddressCosts($this->getShippingAddress());

$_extra_fee_excl = $this->convertPrice(Mage::helper('cashondelivery')->getCodPrice($_extra_fee, $this->helper('cashondelivery')->displayCodFeeIncludingTax(), $this->getShippingAddress()), true);
$_extra_fee_incl = $this->convertPrice(Mage::helper('cashondelivery')->getCodPrice($_extra_fee, true, $this->getShippingAddress()), true);

$_codFeeStr = $_extra_fee_excl;
if ($this->helper('cashondelivery')->displayCodBothPrices() && ($_extra_fee_incl != $_extra_fee_excl)) {
	$_codFeeStr .= ' ('.$this->__('Incl. Tax').' '.$_extra_fee_incl.')';
}
?>
<?php if($this->getMethod()->getCustomText() || $_extra_fee || Mage::getStoreConfig('payment/cashondelivery/display_zero_fee')): ?>
<div id="cashondeliveryinitial" style="display: none;height: 250px;   overflow: auto;">
<table width="90%" border="0"  cellpadding="1" cellspacing="2" align="center" class="whitebackground">
  
  <tr>
    <td><table border="0"  width="100%" cellpadding="1" cellspacing="1" bgcolor="#CCCCCC">
      <tr>
        <td colspan="2" valign="top" ><strong>Interest    Rates and Interest Charges</strong></td>
      </tr>
      <tr>
        <td width="287" valign="top" bgcolor="#FFFFFF"><strong>Annual Percent- age Rate (APR) for Purchases</strong></td>
        <td width="781" valign="top" bgcolor="#FFFFFF">
          5.75% - 23.99% </td>
      </tr>
      <tr>
        <td width="287" valign="top" bgcolor="#FFFFFF"><strong>How    to Avoid Paying Interest on    Purchases</strong></td>
        <td width="781" valign="top" bgcolor="#FFFFFF">Your    due date is at least 25 days after the close of each billing cycle.  We    will not charge you interest on purchases if you pay your entire balance by    the due date each month. </td>
      </tr>
      <tr>
        <td width="287" valign="top" bgcolor="#FFFFFF"><strong>Minimum Interest</strong> <br />
          <strong>Charge</strong></td>
        <td width="781" valign="top" bgcolor="#FFFFFF">VARIES BY STATE<br />
          <strong>$0.00 - $1.00</strong></td>
      </tr>
      <tr>
        <td width="287" valign="top" bgcolor="#FFFFFF"><strong>For    Credit Card Tips from the Consumer    Financial Protection Bureau</strong></td>
        <td width="781" valign="top" bgcolor="#FFFFFF">To learn more about    factors to consider when applying for or using a credit card, visit the    website of the Consumer Financial Protection Bureau at <a href="http://www.consumerfinance.gov">http://www.consumerfinance.gov</a></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"  bgcolor="#CCCCCC"><strong>Fees</strong></td>
      </tr>
      <tr>
        <td width="287" valign="top" bgcolor="#FFFFFF"><strong>Annual Fee</strong></td>
        <td width="781" valign="top" bgcolor="#FFFFFF"><strong>None</strong></td>
      </tr>
      <tr>
        <td width="287" valign="top" bgcolor="#FFFFFF"><strong>Penalty Fees</strong> <br />
          <strong>Late payment fee</strong><br /><br />
          <strong>Returned Payment</strong></td>
        <td width="781" valign="top" bgcolor="#FFFFFF">
          VARIES BY STATE<br />
            <strong>$0.00 - $15.00</strong> <br /><br />
            VARIES BY STATE<br />
            <strong>$0.00 - $25.00</strong></td>
      </tr>
    </table></td>
  </tr>
  
  <tr>
    <td bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><strong>FINANCE CHARGES: </strong>AL 21% up to $750, 18% over $750; AR 5.5% Variable (Federal Reserve Discount Rate plus 5%); CO, GA, IN, MS, OK, TN, TX, VT, WY 21%; FL, GU, LA, MA, MN, NC  18%; NE: 21% up to $499.99 18% over $499.99; All other states 23.99%<br /><br />
      <strong>LATE CHARGES: </strong>If you live in one of the following  states and you fail to pay the full Minimum Payment Due (Minimum Monthly Payment plus any past due amount) on or before the due  date listed on your monthly  statement you will be assessed a late payment  fee as follows, not to exceed the minimum payment due: AK, AR, CO, CT, DC, GA, IN, MD, MI, MS, MN, ND, NH,  NV, NY, OH, OR, VI, WI-$10 after 10 days if balance less than $100, $15 after 10 days if balance $100 or more; FL, IL, MT, NJ, WY - $10 after 10 days; ME-lesser of 5% or $10 after<br />
      15 days; RI-$10  after 30 days; VA - $10 after 30 days if balance  less than $100, $15 after 30 days if balance $100 or more; IA- $10 after 1 day if balance  less than $100, $15 after 1 day if balance $100 or more; CA-$10 after 15 days if balance less than $100, $15 after 15 days if balance $100 or more; TX-$10 after 21 days; HI, WV -the lesser of 5% or $15 after 10 days;  SC-the lesser  of 5% or $10, at least $5.80 after 10 days; MA-the lesser of 10% or $10 after 15 days; NE-the greater of 5% or $5 not to exceed $15 after 10 days; AL, KY, LA -the greater of 5% or $10 not to exceed $15 after 10 days; ID, OK, $10 if balance less than $100, the greater of 5% or $15, not to exceed $15 on balances of $100 or more, after 10 days; UT-$10 if  balance less than $100, the greater  of 5% or $15 not to exceed $15 on balances of $100 or more, after 1 day; AZ, KS, MO-$5 on installments of $25 or less, $10 above, after 10 days;  NC-$5 on installments of $100 or less, $10 above, after 30 days; WA - $10 on accounts  with an average balance of $100 or more, less than $100 average balance greater of $2 or 10% of balance not to exceed $10.<br /><br />
  <strong>RETURNED PAYMENT: </strong>If you live in the following  states, you will pay a returned  check charge for each check, order, or electronic payment instruction returned to us or not paid by your  bank; fee will not exceed  the minimum payment due at the time the check is received; AL, HI, MN, SC, AR, CO, FL, IL, NH, OK $25: AK, CT, DC, ID, IN, IA, KY, ME, MA, MI, MS, MT, NJ, NM,  NV, NY, ND, OH, TN, UT, VI, WI, $20: CA, MD, MO, TX, $15: AZ, KS, PR, $10: GA, LA greater  of 5% of check amount or $25.<br /><br />
  <strong>MINIMUM FINANCE  CHARGE: </strong>AK, CA, CT, DE, FL, GA, ID, IL, IA, KS, KY, NV, NH, NM, ND, OH, OR, RI, UT, VA, VI, WA: $1.00; TX: $0.75;  GU, MI, MO, NY, TN: $0.70; AR, DC, HI, MD, NE,  NC, PR: None; All Other States: $0.50</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong><u>PRESCREEN  &amp; OPT OUT NOTICE:</u></strong>This "prescreened" offer  of credit  is based on  information in  your  credit report indicating that you  meet certain  criteria. This offer  is not guaranteed if  you do  not  meet our criteria.  If you do  not  want to receive  prescreened offers of  credit from this  and  other  companies, call  the consumer reporting  agencies  toll free at 888-567-8688 or  write TO  Equifax Options, PO  Box  741023,  Atlanta,  GA 30374-0123 or  TransUnion  Name Removal  Option, PO  Box  505,  Woodlyn,  PA 19094 or  go to <a href="http://www.optoutprescreen.com">www.optoutprescreen.com</a>.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>TERMS OF THE OFFER:</strong> Our offer to provide you a credit account ("Account") is conditioned on your meeting certain creditworthiness requirements that we have established for the
Account. You authorize us to obtain a consumer report on you. You may receive an Account with a credit limit from a minimum of $50 up to the amount stated on the order form, or a higher amount determined by us. We may not provide an Account to you, or we may limit the amount of credit initially available to you, if you do not meet our creditworthiness requirements. Offer not available if we cannot verify information about you or if you cannot enter into a binding contract. You request that we open an Account for you and provide
you a credit card if available. (Upon approval of an account, we will send you a copy of the account agreement. You will have an opportunity to return the merchandise and cancel the account after you have reviewed the agreement. Instructions will be included in the information you receive.)
</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>SPRING HILL CREDIT TERMS effective July 1, 2012

    </strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>FINANCE CHARGES: A FINANCE CHARGE</strong> will be imposed for a monthly billing cycle if the New Balance shown on the previous monthly statement is not paid in full by the due date shown on the previous statement. We figure the FINANCE CHARGE on your account by applying the applicable periodic rate to the "average daily balance" of your account (including current transactions except in MA, MN, MT, and NM) but not less than the <strong>MINIMUM FINANCE CHARGE</strong> (if any). The <strong>ANNUAL PERCENTAGE RATE</strong> and the <strong>MINIMUM FINANCE CHARGE</strong> are shown in the chart to the left. The appropriate periodic rate is equal to one twelfth (1/12) of the applicable <strong>ANNUAL PERCENTAGE RATE</strong>. To get the "average daily balance," we take the beginning balance of your account each day, add any new purchases (except in MA, MN, MT and NM, where new purchases will be included as of the start of
the next billing cycle), and subtract any payments or credits and unpaid finance charges, late charges, and returned check charges. This gives us the daily balance. Then, we add up
all the daily balances for the billing cycle and divide the total by the number of days in the billing cycle. This gives us the "average daily balance."</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>PAYMENTS:</strong> Each month you must pay at least the full Minimum Payment Due (Minimum Monthly Payment plus any past due amount) on or before the due date shown on your monthly statement. Your Minimum Monthly Payment is determined based on the highest new balance ("HNB") of your Account, in accordance with the table below or, if the HNB exceeds $1,800, then 3.34% of the HNB. The HNB is the highest principal balance of your Account since it was last paid in full. This means that the Minimum Monthly Payment will not decrease unless your Account is paid in full, but we reserve the right to recalculate the HNB based on returned merchandise or Account adjustments.  We can apply your payments to fees and charges or amounts financed in our sole discretion, subject to applicable law. Payments in excess of the minimum will not reduce future Minimum Monthly Payments.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
  
        <td><table border="0" cellspacing="1" cellpadding="1" width="100%" bgcolor="#999999">
          <tr>
            <td valign="top" bgcolor="#FFFFFF" align="left">Minimum Monthly    Payment </td>
            <td width="55" align="center" valign="top" bgcolor="#FFFFFF">$10 </td>
            <td width="67" align="center" valign="top" bgcolor="#FFFFFF">$15 </td>
            <td width="67" align="center" valign="top" bgcolor="#FFFFFF">$20 </td>
            <td width="67" align="center" valign="top" bgcolor="#FFFFFF">$25 </td>
            <td width="67" align="center" valign="top" bgcolor="#FFFFFF">$30 </td>
            <td width="88" align="center" valign="top" bgcolor="#FFFFFF">$35 </td>
            <td width="88" align="center" valign="top" bgcolor="#FFFFFF">$40 </td>
            <td width="88" align="center" valign="top" bgcolor="#FFFFFF">$45 </td>
            <td width="88" align="center" valign="top" bgcolor="#FFFFFF">$50 </td>
            <td width="88" align="center" valign="top" bgcolor="#FFFFFF">$55 </td>
            <td width="93" align="center" valign="top" bgcolor="#FFFFFF">$60 </td>
          </tr>
          <tr>
            <td width="182" valign="top" align="left"  bgcolor="#FFFFFF">New Balance </td>
                <td  valign="top" align="center"  bgcolor="#FFFFFF">$100 </td>
                <td  valign="top" align="center"  bgcolor="#FFFFFF">$150 </td>
                <td  valign="top" align="center"  bgcolor="#FFFFFF">$200 </td>
                <td  valign="top" align="center"  bgcolor="#FFFFFF">$400 </td>
                <td  valign="top" align="center"  bgcolor="#FFFFFF">$600 </td>
                <td  valign="top" align="center"  bgcolor="#FFFFFF">$1,000 </td>
                <td  valign="top" align="center"  bgcolor="#FFFFFF">$1,200 </td>
                <td  valign="top" align="center"  bgcolor="#FFFFFF">$1,350 </td>
                <td  valign="top" align="center"  bgcolor="#FFFFFF">$1,500 </td>
                <td  valign="top" align="center"  bgcolor="#FFFFFF">$1,650 </td>
                <td  valign="top" align="center"  bgcolor="#FFFFFF">$1,800 </td>
          </tr>
         
        </table></td>
       
  </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>LATE  CHARGES: </strong>If you fail to pay the full Minimum Payment Due  (Minimum Monthly Payment plus any past due amount) on or before the due date  listed on your monthly statement you will be assessed a late payment fee  according to the top left table, subject to any regulatory limitations.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>RETURNED CHECK CHARGE: </strong>You will pay a returned check charge, as listed top left, for each check, order, or electronic payment instruction returned to us or not paid by your bank, unless prohibited by law. Returned  checks may be processed electronically.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>ACCELER</strong><strong>A</strong><strong>TION</strong><strong>: </strong>We will have the rights,  subject to applicable law, to (i) terminate  credit privileges on the Account without notice, and (ii) declare your  Account balance  immediately due and payable if: you fail to pay the full Minimum Payment Due (Minimum Monthly Payment plus any past due amount)  when due; you do not follow  these rules in any way; you have made any false or misleading statement to us; you die; or you become insolvent or the subject  of bankruptcy or other insolvency proceedings.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>COMMUNIC</strong><strong>A</strong><strong>TION</strong><strong>: </strong>We may use contact  information you provide to contact you from time to time regarding your Account. We may contact you in any man-  ner  consistent with the information you have provided. For example, once you have provided contact information, we may contact you by telephone, e-mail  or text message.  We may use automated technology for the purposes of contacting you, including but not limited to automatic dialing or similar equipment.  We may call you on your mobile telephone. We may monitor or record calls from you to us and calls from us to you. When you give us your mobile tele-phone number  we may contact you at that number using automated dialing equipment and we can leave pre-recorded or other messages, as allowed by law.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>ADDITIONA</strong><strong>L PROVISIONS: </strong>These rules are the contract that applies to your Account. We reserve the right to close your Account or deny authorization<br />
        of transactions to it, also may add to, delete from, or amend these rules (&quot;Change&quot;) from time to time by sending you written notice. To the extent permitted  by applicable law, your use of the Account after notice of a Change  will indicate your agreement to the Change. We may apply a Change  to your existing  Account balance  as well as to future transactions to the extent permitted by applicable law. You agree to give us permission to access your credit report in  connection with any transaction, or extension of credit, and on an on-going basis, for the purpose of reviewing your Account, adjusting the credit line on your  Account, taking  collection action on your Account or for any other legitimate purposes associated with your Account. Upon your request, you will be informed  of whether or not a consumer report was ordered, and if it was, you will be given the name and address of the consumer reporting agency that furnished the  report. To the extent  allowed by applicable law, you agree to pay our attorneys’ fees and collection costs if you do not follow these rules. We may assign<br />
        (and change)  a credit limit on your Account.  You agree that we may accept  late or partial installment payments from you without losing any of our rights.  You agree not to send us payments  marked &quot;paid in full,&quot; &quot;without recourse,&quot; or with similar language. If you send such a payment,  you agree that we may  accept it without  losing any of our rights under any agreement between you and us. All written communications concerning disputed amounts, including any  check or other payment  instrument that indicates that the payment constitutes &quot;payment in full&quot; of the amount owed or that is tendered with other conditions  or limitations or as full satisfaction of a disputed  amount, must be mailed or delivered to Special Account Handling, 1112 7th Ave, Monroe, WI 53566. No  payment will operate  as an accord and satisfaction without the prior written consent of one of our senior officers.<br />
      You agree not to make purchases  in excess of the limit. We may assign this agreement, your Account, or our rights to payment from you, in whole or in  part.  Any waiver of our rights is effective only if in writing and signed by us. These terms are the complete agreement between you and us regarding your  Account, and supersede  any prior terms. If you think we reported incorrect information to a credit  bureau, write us at CREDIT DEPARTMENT at the address  in the Billing  Rights notice. Please send us a copy of the report  with the inaccurate information if you have it.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>ANY HOLDER  OF THIS CONSUMER CREDIT CONTRACT IS SUBJECT TO ALL CLAIMS AND DEFENSES WHICH THE DEBTOR COULD</strong> <br />
      <strong>ASSERT AGAINST  THE SELLER OF GOODS OR SERVICES OBTAINED PURSUANT HERETO OR WITH THE PROCEEDS  HEREOF. RECOVERY  HEREUNDER BY THE DEBTOR SHALL NOT EXCEED AMOUNTS PAID BY THE DEBTOR HEREUNDER.</strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>ARBITRATION: </strong>By requesting an Account, you and we agree that all disputes, claims, or controversies arising from or relating to your request for an  Account, your Account,  these rules, or any purchase on your Account, or the relationship arising from the foregoing, including the validity of this arbitra-  tion clause, shall be resolved by binding arbitration conducted between you, individually, and us. The arbitrator will have no power to conduct a class or representative arbitration (and this entire arbitration provision shall be void if this limitation is not enforced). At your written request, we will pay reasonable  filing, hearing,  or administrative costs charged to you by the arbitration firm or arbitrator. This arbitration provision is made in connection with a transactionin interstate commerce, and all arbitration under this provision shall be conducted under the auspices of a single arbitrator selected in accordance with the procedures of the American Arbitration Association and shall be conducted pursuant to the rules of such organization and shall be governed by the Federal Arbitration Act. You agree and understand that you have a right or opportunity to litigate disputes through a court, but that you, individually, and us have chosen to resolve disputes through arbitration. SPRING HILL AND YOU VOLUNTARILY AND KNOWINGLY WAIVE ANY RIGHT THEY HAVE TO A JURY TRIAL IN CONNECTION WITH ANY AND ALL DISPUTES, CLAIMS, OR CONTROVERSIES COVERED BY THIS ARBITRATION PROVISION. You agree and understand that all disputes arising under case law, statutory law (federal, state, or local), and all other laws, including, but not limited to, all contract, tort, and property disputes, will be subject to binding arbitration in accord with this provision. If you would like to obtain a copy of the procedures and rules of the American Arbitration Association, 13455 Noel Road, Suite 1750, Dallas, TX 75240-6620 or through their website at www.adr.org.in interstate commerce, and all arbitration under this provision shall be conducted under the auspices of a single arbitrator selected in accordance with the procedures of the American Arbitration Association and shall be conducted pursuant to the rules of such organization and shall be governed by the Federal Arbitration Act. You agree and understand that you have a right or opportunity to litigate disputes through a court, but that you, individually, and us have chosen to resolve disputes through arbitration. SPRING HILL AND YOU VOLUNTARILY AND KNOWINGLY WAIVE ANY RIGHT THEY HAVE TO A JURY TRIAL IN CONNECTION WITH ANY AND ALL DISPUTES, CLAIMS, OR CONTROVERSIES COVERED BY THIS ARBITRATION PROVISION. You agree and understand that all disputes arising under case law, statutory law (federal, state, or local), and all other laws, including, but not limited to, all contract, tort, and property disputes, will be subject to binding arbitration in accord with this provision. If you would like to obtain a copy of the procedures and rules of the American Arbitration Association, 13455 Noel Road, Suite 1750, Dallas, TX 75240-6620 or through their website at www.adr.org.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>OHIO RESIDENTS: </strong>The Ohio laws against  discrimination require that all creditors make credit equally available to all creditworthy customers, and that credit<br />
      reporting agencies  maintain separate credit histories on each individual upon request. The Ohio Civil Rights Commission administers compliance with this law. </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>MARRIED WISCONSIN  RESIDENTS: </strong>No provision  of any marital property agreement, unilateral statement, or court order applying to marital property will adversely affect a creditor’s interests  unless prior to the time credit is granted, the creditor is furnished with a copy of the agreement, statement, or court  order, or has actual knowledge of the provision.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>BILLING RIGHTS: </strong>This notice  contains important information about your rights and our responsibilities under the Fair Credit Billing Act.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>NOTIFY US IN CASE OF ERRORS  OR QUESTIONS ABOUT YOUR BILL: </strong>If you think your bill is wrong or if you need more information about a transac- tion on your bill, write to us (on a separate  sheet): SPRING HILL CREDIT—Spring Hill, 1112 7th Avenue, Monroe, WI 53566-1364. Write to us as soon as  possible. We must hear from you no later than 60 days after we sent you the first bill on which the error or problem  appeared. You can telephone  us, but doing so will not preserve your rights.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>IN YOUR LETTER,  GIVE US THE FOLLOWING INFORMATION: • </strong>Your name and account  number. <strong>• </strong>The dollar amount of the suspected error. <strong>• </strong>Describe  the error and explain,  if you can, why you believe there is an error. If you need more information, describe the item you are not sure about.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>YOUR RIGHTS AND OUR RESPONSIBILITIES AFTER WE RECEIVE YOUR WRITTEN NOTICE: </strong>We must acknowledge your letter within 30 days unless  we have corrected  the error by then. Within 90 days, we must either correct the error or explain why we believe the bill was correct. After we receive your  letter, we cannot try to collect any amount you question, or report you as delinquent. We can continue  to bill you for the amount in question, including finance  charges, and we can apply any unpaid  amount against your credit limit. You do not have to pay any questioned amount while we are investigating, but you  are still obligated  to pay the parts of your bill that are not in question. If we find that we made a mistake  on your bill, you will not have to pay for any finance  charges related  to any questioned amount. If we didn’t make a mistake,  you may have to pay finance charges, and you will have to make up any missed  payments on the questioned amount. In either case, we will send you a statement  of the amount you owe and the date that it is due. If you fail to pay the  amount that we think you owe, we may report  you as delinquent. However, if our explanation does not satisfy you and you write to us within ten days telling  us that you still refuse  to pay, we must tell anyone  we report you to that you have a question  about your bill. And, we must tell you the name of anyone we  reported you to. We must tell anyone  we report you to that the matter has been settled between us when it finally is. If we don’t follow these rules, we can’t  collect the first $50 of the questioned amount, even if your bill was correct.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
    <td><strong>SPECIAL RULE FOR CREDIT  CARD PURCHASES: </strong>If you have a problem with the quality of property or services that you purchased with a credit  card, and you have tried in good faith to correct the problem with the  merchant, you may have the right not to pay the remaining amount due on the  property or services.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<fieldset class="form-list" >
    <ul id="payment_form_<?php echo $_code ?>" style="display:none; ">
        <?php if($_extra_fee || Mage::getStoreConfig('payment/cashondelivery/display_zero_fee')): ?>
        <!--<li><?php // echo $this->__('You will be charged an extra fee of %s.', $_codFeeStr) ?></li>-->
        <?php $session = Mage::getSingleton("core/session");
        $arrySession=$session->getData(); ?>
        
        <?php endif; ?>
        <?php if ($this->getMethod()->getCustomText()): ?>
        <li>
            <?php echo $this->getMethod()->getCustomText() ?>
        </li>
        <?php endif; ?>
    </ul>
</fieldset>
</div>
<?php endif; ?>
