<?php 
	$result = $this->getBlockData();
	$block = $result['block'];
	$banners = $result['banners'];
	$divId = "divMainRotator_".$block['alias'];
	$div = "divMainRotatorNav_".$block['alias'];
	if(isset($block['width']) && $block['width'])
	{				
		$block_width = $block['width'];
	}
	else
	{
		$block_width = 300;
	}
	
	if(isset($block['height']) && $block['height'])
	{
		
		$block_height = $block['height'];
	}
	else
	{
		$block_height = 200;
	}
	
	if(isset($block['speed']) && $block['speed'])
	{
		$speed = $block['speed'];
	}
	else
	{
		$speed = 400;
	}
?>
<!--<script src="<?php echo Mage::getBaseUrl();?>js/iphone/jquery-1.7.1.min.js" ></script> -->
<script type="text/javascript" src="<?php echo $this->getSkinUrl('banner/jquery_002.js') ?>"></script>
<!--<script type="text/javascript" src="<?php //echo $this->getSkinUrl('banner/jquery-1_002.js') ?>"></script>
<script type="text/javascript" src="<?php //echo $this->getSkinUrl('banner/jquery_003.js') ?>"></script> -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('banner/banner_slide_02.css');?>" media="all" />

<center>
<div style="padding-bottom: 10px; background: transparent none repeat scroll 0% 0%; 
overflow: hidden; width: <?php echo $block_width."px";?>; height: <?php echo $block_height."px";?>; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; position: relative;">
  
	<div style="position: relative;" id="divMainRotator">  
		<div id="<?php echo $divId; ?>">  
	  <?php
			foreach ($banners as $banner):
				$banner_height = "";
				$banner_width = "";
				if($banner['width'])
					$banner_width = "width:". $banner['width'] ."px";
				if($banner['height'])
					$banner_height = "height:". $banner['height'] ."px";	
				
				//$link = $banner['clickurl'];

				// 	Text Banner Conditions Start

				$width=$banner['width'];
				$height=$banner['height']; 
				$text=$banner['image_text'];
				$link_cond=$banner['link_cond'];//"300";
				$twidth=$banner['text_width'];//"300";
				$theight=$banner['text_height']; //"20";
				$fontsize=$banner['font_size']."px";
				$font_weight=$banner['font_weight'];
				$font_color="#".$banner['color'];
				$font_family="arial";
				$image_align=$banner['image_position'];
				$cursor='';
				if($link_cond==2){
				$cursor = "cursor:pointer; ";
				}
				$default_style=$cursor."font-weight:".$font_weight."; font-size:".$fontsize."; color: ".$font_color."; font-family: ".$font_family."!important;";
				$text_length="height:".$theight."px;width:".$twidth."px;";
				$bottom_left=$height-$theight;
				$bottom_right=$width-$twidth;
				$bottom_center=($width/2)-($twidth/2);

				$center=($height/2)-($theight/2);
				$left=$width-$twidth;
				$banner_center=$height-$theight;
				$style='';
				// Top Left
				if($image_align=="1"){
					$style=$default_style."position: absolute; left: 20px; top: ".$theight."px;".$text_length;
				}

				// Top Right
				if($image_align=="2"){
					$style=$default_style."position: absolute; left: 20px; top: ".$theight."px;".$text_length." left:".$bottom_right."px;";
				}

				// Top Center
				if($image_align=="3"){ 
					$style=$default_style."position: absolute; left: 20px; top: ".$theight."px;".$text_length." left:".$bottom_center."px";
				}

				// Left
				if($image_align=="4"){
					$style=$default_style."position: absolute; left: 20px; top: ".$center."px;".$text_length;
				}

				// Right
				if($image_align=="5"){
					$style=$default_style."position: absolute; left: 20px; top: ".$center."px;".$text_length." left:".$left."px";
				}	

				// Center
				if($image_align=="6"){
					$style=$default_style."position: absolute; left: 20px; top: ".$center."px;".$text_length." left:".$bottom_center."px";
				}

				// Bottom Left 
				if($image_align=="7"){
					$style=$default_style."position: absolute; left: 20px; top: ".$bottom_left."px;".$text_length;
				}

				// Bottom Right
				if($image_align=="8"){
					$style=$default_style."position: absolute; left: 20px; top: ".$bottom_left."px;".$text_length." left:".$bottom_right."px";
				}
		
				// Bottom Center
				if($image_align=="9"){ 
					$style=$default_style."position: absolute; left: 20px; top: ".$bottom_left."px;".$text_length." left:".$bottom_center."px";
				}

				

				
							

				// Text Banner Conditions End 



				$link = $this->getUrl('banner/index/click',array('id'=>$banner['id']));
				
				switch($block['target_method']){
						// cases are slightly different
						case 0:
							// open in a new window
							$a = '<a id="slide-link" href="'. $link .'" target="_blank">';
							break;

						case 2:
							// open in a popup window
							$a = "<a id=\"slide-link\" href=\"javascript:void window.open('". $link ."', '', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=780,height=550'); return false\">";
							break;

						default:	// formerly case 2
							// open in parent window
							$a = '<a id="slide-link" href="'. $link .'">';
							break;			
						
				}					
			?>			
			<?php // echo $a; ?>
			<a href="<?php if($link_cond==1){ echo $link; }else{ echo 'javascript:void(0);';} ?>" <?php if($link_cond==2): ?> style="cursor:default;" <?php endif ?> >

				<img title="<?php echo $banner['name']?>" alt="<?php echo $banner['name']?>" src="<?php echo Mage::getBaseUrl('media') .'banners/'. $banner['image']?>" alt="" style="padding-bottom:10px;<?php echo $banner_height;?>;<?php echo $banner_width;?>;"/>				
				<?php if (1):?>
						<div style="<?php echo $style;?>" <?php if($link_cond==2): ?> onClick="window.open('<?php echo  $link; ?>')" <?php endif;?>   >		
							<?php echo $text;?>
						</div>	
				<div class="banner_content"><p>
						<?php echo $banner['description']; ?></p></div>
				<?php endif;?>
				</a>				
			
			<?php
			endforeach;
			?>								  
		</div>
	  </div>
      <div id="divMainRotatorNav" style="padding-bottom:10px">
			<div id="<?php echo $div; ?>"></div>
	  </div>

</div>
</center>
<script type="text/javascript">
 jQuery.noConflict(); 

  jQuery(document).ready(function($){
    //Setup the main rotater on the home page
    $('#<?php echo $divId; ?>').cycle({
      speed:       <?php echo $speed; ?>,
      timeout:     5000,
      pager:      '#<?php echo $div; ?>',
      pagerEvent: 'mouseover',
      fastOnEvent: true
    });
  });
</script>
<style>
#slide-link{position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 0.99;}
</style>
