

/* Homepage Layout
--------------------------------------------------------------------------------------- */

#divMainRotatorNav { position:absolute; bottom:16px; left:10px; z-index:99; }
#divMainRotatorNav a {
	margin: 0 0 0 4px;
	padding: 3px 7px;
	background: #ffffff;
	text-decoration: none;
	color: #888888;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	   }
#divMainRotatorNav a:hover {
	background: #454545;
	text-decoration: none; 
	color: #ffffff;
   }
#divMainRotatorNav a.activeSlide {
	background: #618499;
	text-decoration: none;
	color: #ffffff;
	 }
#divMainRotatorNav a:focus { outline: none; }

.home_events_row { 
	overflow: hidden;
	width: 100%;
	border-bottom:
	2px solid #dddddd; 
	padding: 14px 0 9px 0;
    }
.home_events_row h4 { 
	float: left; display:
	inline;
	 font-size: 3.8em;
	color: #aaaaaa; margin-left: 12px;
	line-height: 1em;
	padding: 0;
    }
.home_events_content { 
	float: right;
	display: inline;
	width: 84%
   }
.home_events_content h3 { font-size: 1.4em; }
.home_events_content p { margin: 1px 0 0 0; }

